{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="login-box row">
            <h1>Zaloguj się</h1>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.message  | trans }}
                </div>
            {% endif %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <form action="{{ path('login_check') }}" method="post" name="login">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="_username" data-validator="required" value="{{ last_username }}" placeholder="Login">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="_password" data-validator="required" placeholder="Hasło">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="col-xs-7"><a href="{{path('reset_password')}}" title="Zapomniałem Hasła">Zapomniałem Hasła</a></div>
            <div class="col-xs-5 no-padding-right">
                  <button type="submit" class="btn btn-success pull-right">Zaloguj</button>
            </div><!-- /.col -->
            </form>
        </div>
    </div>

<div class="col-xs-12 col-sm-12 col-md-6">
    <div class="registration-box row">
            <form method="POST" action="" novalidate name="registration">
                <h2>Rejestracja</h2>
                <div class="form-group">
                    {{form_widget(form.username,{'attr':{'data-validator':'required','placeholder':'Utwórz login'}})}}
                    {{form_errors(form.username)}}
                </div>
                <div class="form-group">
                    {{form_widget(form.plainPassword.first,{'attr':{'data-validator':'required,length','data-validator-length':'8,200','placeholder':'Utwórz hasło'}})}}
                    {{form_errors(form.plainPassword.first)}}
                </div>
                <div class="form-group">
                    {{form_widget(form.plainPassword.second,{'attr':{'data-validator':'required,length','data-validator-length':'8,200','placeholder':'Powtórz hasło'}})}}
                </div>
                <p style="color:#fff;">Na podstawie rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (Dz.Urz. UE L 119, s.1) -- dalej RODO informujemy, że:</p>
                <ul>
                    <li>Twoje dane osobowe będą przetwarzane na podstawie Twojej zgody (art. 6 ust. 1 lit. a RODO).</li>
                    <li>Zaakceptowanie przez Ciebie treści regulaminu oraz polityki prywatności jest niezbędne do założenia konta, w serwisie, pozostałe zgody są fakultatywne, ale w razie braku ich wyrażenia nie będziemy mogli informować Cię o nowych promocjach i ofertach. </li>
                    <li>Informacje zamieszczone w zakładce Ochrona danych osobowych, w której zawarte są dodatkowe, szczegółowe informacje dotyczące przetwarzania Twoich danych osobowych."/</li>
                </ul>
                <div class="row">
                    <div class="form-group col-xs-12" style="margin-bottom: 0;">
                        {{form_widget(form.agreement_1,{'attr':{'data-validator':'required'}})}}
                        {{form_errors(form.agreement_1)}}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12" style="margin-bottom: 0;">
                        {{form_widget(form.agreement_2,{'attr':{'data-validator':'required'}})}}
                        {{form_errors(form.agreement_2)}}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12" style="margin-bottom: 0;">
                        {{form_widget(form.agreement_3,{'attr':{'data-validator':'required'}})}}
                        {{form_errors(form.agreement_3)}}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12" style="margin-bottom: 0;">
                        {{form_widget(form.agreement_4,{'attr':{'data-validator':'required'}})}}
                        {{form_errors(form.agreement_4)}}
                    </div>
                </div>
                {{form_rest(form)}}
                <div class="col-md-12 no-padding"><button class="btn btn-success pull-right" type="submit">Zatwierdź</button></div>
            </form>
    </div>
</div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script type="text/javascript">
        $('form[name="registration"]').validate();
        $('form[name="login"]').validate();
    </script>
{% endblock %}
{%block metaDescription %}Logowanie | Rejestracja &#9989; Ponad 60 000 Ofert. &#9989; 27 Lat Doświadczenia na Rynku Polskim i Zagranicznym &#9989; Niemal 70 Biur Nieruchomości w Całej Polsce. Sprawdź Teraz i Zadzwoń »{% endblock %}
{%block ogDescription %}Logowanie | Rejestracja &#9989; Ponad 60 000 Ofert. &#9989; 27 Lat Doświadczenia na Rynku Polskim i Zagranicznym &#9989; Niemal 70 Biur Nieruchomości w Całej Polsce. Sprawdź Teraz i Zadzwoń »{% endblock %}
{%block twitterDescription %}Logowanie | Rejestracja &#9989; Ponad 60 000 Ofert. &#9989; 27 Lat Doświadczenia na Rynku Polskim i Zagranicznym &#9989; Niemal 70 Biur Nieruchomości w Całej Polsce. Sprawdź Teraz i Zadzwoń »{% endblock %}
{%block pageTitle %}Logowanie | Rejestracja. Mieszkania na Sprzedaż - Ogłoszenia Nieruchomości WGN{%endblock%}
{%block ogTitle %}Logowanie | Rejestracja. Mieszkania na Sprzedaż - Ogłoszenia Nieruchomości WGN{% endblock %}
{%block twitterTitle %}Logowanie | Rejestracja. Mieszkania na Sprzedaż - Ogłoszenia Nieruchomości WGN{% endblock %}