{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
<div class="col-md-6 col-xs-12 col-md-offset-3  reset-password">
      <div class="login-logo">
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Wprowadź nowe Hasło.</p>
                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                            <form action="" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group {% if form.plainPassword.first.vars.errors is not empty %} has-error{%endif%}">
                                           <label for="frontend_bundle_profilebundle_user_password">Hasło</label>
                                             {{form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control','placeholder':'Nowe Hasło'} })}}
                                                   {{ form_errors(form.plainPassword.first)}}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group {% if form.plainPassword.first.vars.errors is not empty %} has-error{%endif%}">
                                           <label for="frontend_bundle_profilebundle_user_password">Powtórz Hasło</label>
                                             {{form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control','placeholder':'Wprowadź ponownie Nowe Hasło'} })}}
                                        </div>
                                    </div>
                                    {{form_rest(form)}}
                                    <div class="col-md-12">
                                        <div class="form-group has-feedback">
                                            <button type="submit" class="btn btn-primary btn-block btn-flat pull-right">Zmień</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
{%endblock%}


