{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="row">
        <div class="registration-buisness">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12">
                <div class="message info red">Państwa ogłoszenia ukażą się dodatkowo na 50 portalach partnerskich. <br> <a href="https://wgn.pl/artykuly/wprowadzanie-ofert-na-wgnpl-poprzez-sms-lub-abonament-prenumerata/22454,wykaz-portali-partnerskich-wgnpl.html" target="_blank">Wykaz portali na których ukażą się oferty.</a></div>
                <p>Szanowny kliencie!</p>
                <p>Chcesz dodawać ilości hurtowe ofert nieruchomości w niższej cenie ?</p>
                <p>Załóż konto użytkownika na wgn.pli wybierz jeden pakietów ogłoszeniowych.</p>
                <p class="adnotation">*oferta skierowana do deweloperów, zarządców nieruchomości,biur nieruchomości, gmin, urzędów miejskich, urzędów miasta, stowarzyszeń, wspólnot mieszkaniowych, oraz każdego inwestora indywidualnego.</p>
            </div>
            <form method="POST" action="" class="form-horizontal" novalidate>
                <div class="row">
                    <div class="col-sm-12">
                    <div class="col-sm-4">
                    <div class="form-group no-padding-left">
                        <label>Utwórz login</label>
                        {{form_widget(form.username,{'attr':{'data-validator':'required'}})}}
                        {{form_errors(form.username)}}
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="form-group">
                        <label>Utwórz hasło</label>
                        {{form_widget(form.plainPassword.first,{'attr':{'data-validator':'required,length','data-validator-length':'8,200'}})}}
                        {{form_errors(form.plainPassword.first)}}
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="form-group no-padding-right">
                        <label>Powtórz hasło</label>
                        {{form_widget(form.plainPassword.second,{'attr':{'data-validator':'required,length','data-validator-length':'8,200'}})}}
                    </div>
                    </div>
                    
                    <div class="col-md-12">
                        <h1>Aktualne pakiety ogłoszeniowe:</h1>
                        <ul>
                            <li>Pakiet 50 ogłoszeń ważny 90 dni w cenie 16,00 netto (brutto z VAT 19,68 zł)</li>
                            <li>Pakiet 100 ogłoszeń ważny 90 dni w cenie 30,00 netto (brutto z VAT 36,90 zł)</li>
                            <li>Pakiet 250 ogłoszeń ważny 90 dni w cenie 40,00 netto (brutto z VAT 49,20 zł)</li>
                            <li>Pakiet powyżej 250 ogłoszeń ważny 90 dni w cenie 55,00 netto (brutto z VAT 67,65 zł)</li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="col-md-12 no-padding"><button class="btn btn-success pull-right" role="submit">Zatwierdź</button></div>
                    </div>
                        <div class="col-md-12">
                        <p style="margin-top:20px;">Na podstawie rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (Dz.Urz. UE L 119, s.1) -- dalej RODO informujemy, że:</p>
                        <ul>
                            <li>Twoje dane osobowe będą przetwarzane na podstawie Twojej zgody (art. 6 ust. 1 lit. a RODO).</li>
                            <li>Zaakceptowanie przez Ciebie treści regulaminu oraz polityki prywatności jest niezbędne do założenia konta, w serwisie, pozostałe zgody są fakultatywne, ale w razie braku ich wyrażenia nie będziemy mogli informować Cię o nowych promocjach i ofertach. </li>
                            <li>Informacje zamieszczone w zakładce Ochrona danych osobowych, w której zawarte są dodatkowe, szczegółowe informacje dotyczące przetwarzania Twoich danych osobowych."/</li>
                        </ul>
                        <div class="row">
                            <div class="form-group col-xs-12" style="margin-bottom: 0;">
                                {{form_widget(form.agreement_1,{'attr':{'data-validator':'required'}})}}
                                {{form_errors(form.agreement_1)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12" style="margin-bottom: 0;">
                                {{form_widget(form.agreement_2,{'attr':{'data-validator':'required'}})}}
                                {{form_errors(form.agreement_2)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12" style="margin-bottom: 0;">
                                {{form_widget(form.agreement_3,{'attr':{'data-validator':'required'}})}}
                                {{form_errors(form.agreement_3)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12" style="margin-bottom: 0;">
                                {{form_widget(form.agreement_4,{'attr':{'data-validator':'required'}})}}
                                {{form_errors(form.agreement_4)}}
                            </div>
                        </div>
                    {{form_rest(form)}}
                    </div>
                </div>
                </div>
            </form>
        </div>
                    
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script type="text/javascript">
        $('.registration-buisness form').validate();
    </script>
{% endblock %}

