{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
        Lista Artykułów
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#" title="Cms">Blog</a></li>
        <li class="active">Artykuły</li>
      </ol>
    </section>
    <section class="content">
            {% include 'AppBackOfficeBundle:_Partials:flashMessage.html.twig' %}
            <div class="col-md-12">
            <div class="box">
            <div class="box-header with-border">
              <form class="navbar-form navbar-left" action="{{ path('backoffice_blog_articles_list') }}" role="search" method="GET">
                  <input type="hidden" name="id" value="{{ app.request.get('id') }}">
                  <div class="form-group">
                    <h3 class="box-title pull-left">Kategoria </h3>
                  </div>
                  <div class="form-group">
                      <select name="idCategory" class="form-control">
                            {% for cat in categories %}
                                <option value="{{cat.id}}" {% if app.request.get('idCategory') == cat.id %}selected="selected"{% elseif app.request.get('idCategory') is null and cat.id ==1 %} selected="selected" {% endif %}>{{cat.name}}</option>
                            {% endfor %}
                      </select>
                  </div>
              </form>
              <h3 class="box-title pull-right">
                  <a href="{{path('backoffice_blog_article_add',{'id':app.request.get('id'),'idCategory':app.request.get('idCategory')})}}" class="btn btn-success btn-flat" title="Dodaj Artykuł"><i class="fa fa-plus"></i> Dodaj Artykuł</a>
              </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body scroll">
              <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th width="150">Publikacja od</th>
                            <th width="150">Kategoria</th>
                            <th width="150">Url</th>
                            <th width="150">Kolejność</th>
                            <th width="250">Opcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                        <tr class="odd gradeX">
                            <td>{{article.name}}</td>
                            <td>{{article.publishDate | date('d.m.Y G:i:s')}}</td>
                            <td>{{article.category.name}}</td>
                            <td>
                                {% if article.isUrl %}
                                    {% set url = article.url %}
                                {% elseif blog.isWithoutLocation %}
                                    {% set url =  domain ~ path('frontend_blog_article_search_url',{slug: article.slug,transaction: blog.transactionName,type:blog.typeName}) %}
                                {% else %}
                                    {% set url = host_scheme ~ ':' ~ path('frontend_subdomain_article',{slug: article.slug,subdomain: blog.subdomain},true) %}
                                {% endif %}
                                {{url}}
                            </td>
                            <td>
                                {%if loop.first and loop.last %}
                                    &nbsp;
                                {%elseif loop.first and articles.getPaginationData()['current'] == 1%}
                                    <a href="#" class="btn btn-default btn-flat disabled" title="Do góry"> <i class="fa fa-arrow-up"></i></a>
                                    <a href="{{path('backoffice_blog_article_change_order',{'id':article.id,'direction':'down'})}}" class="btn btn-primary btn-flat" title="Na dół"> <i class="fa fa-arrow-down"></i></a>
                                {% elseif loop.last and articles.getPaginationData()['current'] == articles.getPaginationData()['endPage']%}
                                    <a href="{{path('backoffice_blog_article_change_order',{'id':article.id,'direction':'up'})}}" class="btn btn-primary btn-flat" title="Do góry"> <i class="fa fa-arrow-up"></i></a>
                                    <a href="#" class="btn btn-default btn-flat disabled"> <i class="fa fa-arrow-down"></i></a>
                                {% else %}
                                    <a href="{{path('backoffice_blog_article_change_order',{'id':article.id,'direction':'up'})}}" class="btn btn-primary btn-flat" title="Do góry"> <i class="fa fa-arrow-up"></i></a>
                                    <a href="{{path('backoffice_blog_article_change_order',{'id':article.id,'direction':'down'})}}" class="btn btn-primary btn-flat" title="Na dół"> <i class="fa fa-arrow-down"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                {% if article.isPublish %}
                                    <a href="{{path('backoffice_blog_article_change_publish',{'id':article.id,'publish':0})}}" class="btn btn-success btn-flat"  data-toggle="tooltip" data-placement="top" title="ukryj"> <i class="fa fa-plus"></i></a>
                                {% else %}
                                    <a href="{{path('backoffice_blog_article_change_publish',{'id':article.id,'publish':1})}}" class="btn btn-danger btn-flat"  data-toggle="tooltip" data-placement="top" title="pokaż"> <i class="fa fa-minus"></i></a>
                                {% endif %}
                                <a href="{{path('backoffice_blog_article_edit',{'id':article.id})}}" class="btn btn-primary btn-flat"  data-toggle="tooltip" data-placement="top" title="edycja"> <i class="fa fa-edit"></i></a>
                                <a href="#" data-href="{{path('backoffice_blog_article_delete',{'id':article.id})}}"  data-toggle="tooltip" data-placement="top" title="Usuń" class="btn btn-danger btn-flat" data-show-modal="delete"> <i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            {{ knp_pagination_render(articles) }}
            </div>
          </div>
            </div>
                <!-- /.col-lg-12 -->
    </section>
{% include 'AppBackOfficeBundle:_Partials:modalDelete.html.twig' %}
{% endblock body %}
{% block javascripts %}
    <script>

    $('a[data-show-modal="delete"]').on('click',function(){
        $('#confirm-delete').find('.danger').attr('href', $(this).data('href'));
        $('#confirm-delete').modal();
    });
    $('select[name="idCategory"]').on('change',function(){
        $(this).closest('form').submit();
    });
    </script>
{% endblock %}
