{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
        Zmiana Hasła
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Użytkownicy</li>
      </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <form method="POST" action="" novalidate enctype="multipart/form-data">
          <!-- general form elements -->
                <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Hasło (min. 8 znaków)</label>
                            {{form_widget(form.plainPassword.first,{'attr':{'data-validator':'required,length','data-validator-length':'8,'}})}}
                            {{form_errors(form.plainPassword.first)}}
                        </div>
                        <div class="form-group col-md-6">
                            <label>Powtórz Hasło</label>
                            {{form_widget(form.plainPassword.second,{'attr':{'data-validator':'required','data-validator-length':'8,'}})}}
                        </div>
                    </div>
                        {{form_rest(form)}}
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
              </div>
          </div>
          <!-- /.box -->
        </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script type="text/javascript">
        $('form').validate();
    </script>
{% endblock %}