{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
        Nowy Artykuł {% if blog is defined %} - {{ blog.name }} {%  endif %}
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#" title="Cms">Cms</a></li>
        <li class="active">Artykuły</li>
      </ol>
    </section>
    <section class="content">
        <form method="POST" action="" novalidate enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">

          <!-- general form elements -->
                <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Treść</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

              <div class="box-body">
                  <div class="form-group">
                      <label>Nazwa</label>
                      {{form_widget(form.name,{'attr':{'data-validator':'required', 'onchange':'generateSlug()'}})}}
                  </div>
                  <div class="form-group">
                      {{form_widget(form.isUrl)}}
                  </div>
                  <div class="{% if app.request.attributes.get('_route') == "backoffice_article_add" %}hidden{% endif %} form-group">
                      <label>Slug</label>
                      {{form_widget(form.slug)}}
                  </div>
                  <div class="form-group">
                      {{form_widget(form.disallowRobots)}}
                  </div>
                  <div class="form-group">
                      <label>Atrybut rel</label>
                      {{form_widget(form.followAttribute)}}
                  </div>
                    <div class="form-group">
                        <label>link</label>
                        {{form_widget(form.url)}}
                    </div>
                    <div class="form-group">
                        <label>Kategoria</label>
                        {{form_widget(form.category)}}
                    </div>
                    <div class="form-group">
                        <label>Wstęp</label>
                        {{form_widget(form.intro,{'attr':{'class':'texteditor'}})}}
                    </div>
                    <div class="form-group">
                        <label>Treść</label>
                        {{form_widget(form.content,{'attr':{'class':'texteditor'}})}}
                    </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
            </div>
            <div class="col-md-12">
          <!-- general form elements -->
                <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Parametry</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                    <div class="form-group">
                        <label>Główne Zdjęcie</label>
                        {{form_widget(form.file)}}
                    </div>
                  <div class="form-group">
                      <label>Meta Tytuł</label>
                      {{form_widget(form.metaTitle)}}
                  </div>
                    <div class="form-group">
                        <label>Meta Opis</label>
                        {{form_widget(form.metaDesc)}}
                    </div>
                    <div class="form-group">
                        <label>Słowa Kluczowe</label>
                        {{form_widget(form.metaKeywords)}}
                    </div>
                    <div class="form-group">
                        <label>Źródło</label>
                        {{form_widget(form.source)}}
                    </div>
                    <div class="form-group">
                        <label>Opublikowany</label>
                        {{form_widget(form.isPublish)}}
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data Utworzenia</label>
                                {{form_widget(form.createDate.date)}}
                            </div>
                        </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    {{form_widget(form.createDate.time)}}
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data Publikacji</label>
                                {{form_widget(form.publishDate.date)}}
                            </div>
                        </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    {{form_widget(form.publishDate.time)}}
                                </div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label>Tagi</label>
                        {{form_widget(form.tags,{'attr':{'data-role':'tagsinput'}})}}
                    </div>
                    {{form_rest(form)}}
              <!-- /.box-body -->

          </div>
          <div class="box-footer">
                <button type="submit" class="btn btn-primary">Zapisz</button>
          </div>
          <!-- /.box -->
        </div>
            </div>
        </div>
        </form>
    </section>
{% endblock body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('admin-layout/plugins/tagsinput/bootstrap-tagsinput.css')}}" />
{% endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script src="{{asset('admin-layout/plugins/tinymce/tinymce.min.js')}}"></script>
    <script src="{{asset('admin-layout/plugins/timepicker/bootstrap-timepicker.min.js')}}"></script>
    <script src="{{asset('admin-layout/plugins/datepicker/locales/pl.min.js')}}"></script>
    <script src="{{asset('admin-layout/plugins/tagsinput/bootstrap-tagsinput.min.js')}}"></script>
            {{ elfinder_tinymce_init4() }}
    <script type="text/javascript">
    function generateSlug(){
    	let name = document.getElementById('app_articlebundle_article_name').value;
    	let slug = document.getElementById('app_articlebundle_article_slug');

    	slug.value = name.toLowerCase().split(" ").join("-");
    }


    tinymce.init({
        language : 'pl',
        file_browser_callback : elFinderBrowser,
        image_advtab: true,
        mode : "textareas",
        entity_encoding : "raw",
        selector: ".texteditor",
        plugins: [
            "advlist autolink lists link image lists charmap print preview hr anchor",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons template textcolor paste colorpicker textpattern"
        ],
        toolbar1: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect ",
        toolbar2: "insertfile undo redo | cut copy paste searchreplace| | bullist numlist outdent indent| bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview",
        toolbar3: "forecolor backcolor| table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking",
        fontsize_formats: "10pt 12pt 14pt 18pt 24pt 36pt",
    });
        $('#app_articlebundle_article_publishDate_date,#app_articlebundle_article_createDate_date').datepicker({format: 'yyyy-mm-dd',language:'pl'});
        $('#app_articlebundle_article_publishDate_time,#app_articlebundle_article_createDate_time').timepicker({
                showSeconds: false,
                showMeridian: false,
                showInputs: false,
            });
    $('form').validate();
    </script>
{% endblock %}
