{% extends "AppBackOfficeBundle:_Partials:iframeLayout.html.twig" %}
{% block body %}
    <section class="content">
         <form role="search" method="GET">
           <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Kategoria</label>
                        <select name="idCategory" class="form-control">
                              {% for cat in categories %}
                                  <option value="{{cat.id}}" {% if app.request.get('idCategory') == cat.id %}selected="selected"{% elseif app.request.get('idCategory') is null and cat.id ==1 %} selected="selected" {% endif %}>{{cat.name}}</option>
                              {% endfor %}
                        </select>
                    </div>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>Nazwa</th>
                                  <th width="150">Publikacja od</th>
                                  <th width="150">Kategoria</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for article in articles %}
                              <tr class="odd gradeX">
                                  <td><a href="#" data-action="selectArticle" data-id="{{article.id}}" title="{{article.name}}">{{article.name}}</a></td>
                                  <td>{{article.publishDate | date('d.m.Y G:i:s')}}</td>
                                  <td>{{article.category.name}}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            {{ knp_pagination_render(articles) }}
            </div>
                <!-- /.col-lg-12 -->
        </form>
    </section>
{% endblock body %}
{% block javascripts %}
    <script>
    $('select[name="idCategory"]').on('change',function(){
        $(this).closest('form').submit();
    });
    $('a[data-action="selectArticle"]').on('click',function(){
        parent.$('#modal-article-list').modal('hide');
        parent.$('#menu_item_article').val($(this).html());
        parent.$('#menu_item_id').val($(this).attr('data-id'));
    });
    </script>
{% endblock %}
