{% extends "AppFrontPageBundle:_Partials:printLayout.html.twig" %}
{% block body %}
    <div class="article-box">
        <div class="col-md-8">
            <div class="article">
                <div class="col-md-12">
                    <h3>{{article.category.name}}{% if article.source !='' %}<span class="pull-right source"> &nbsp;| <a href="{{article.source}}" target="blank" title="{{article.source|replace({'http://':''})}}">{{article.source|replace({'http://':''})}}</a></span>{% endif %}<span class="pull-right date">{{article.createDate | date('Y.m.d')}}</span></h3>
                    <h2 class="title">{{article.name}}</h2>
                </div>
                <div class="col-md-12">
                    {% if article.mainPhoto !=''%}
                    <div class="article-main-photo pull-right">
                        <a href="{{ ('/uploads/articles/' ~article.id ~ '/' ~ article.mainPhoto) | imagine_filter('article_big') }}" class="gi" title="{{article.name}}"><img src="{{ ('/uploads/articles/' ~article.id ~ '/' ~ article.mainPhoto) | imagine_filter('article_main_thumbnail') }}" alt="{{article.name}}" class="img-responsive pull-right"></a>
                    </div>
                    {% endif %}
                    {% if article.intro !='' %}
                    <div class="article-intro {% if article.mainPhoto ==''%}no-main-photo{% endif %}">
                        {{article.intro | raw}}
                    </div>
                    {% endif %}
                    <div class="article-text">
                        {{article.content | raw}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content_block_top %}{{contentBloks('article_top')}}{%endblock %}
{% block stylesheet %}
    <link href="{{asset('front-layout/lib/lightbox/magnific-popup.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/lightbox/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script type="text/javascript">
        window.print();
        var recommendUrl = '{{domain}}{{path('frontend_article_recommend')}}';
      $(document).ready(function() {
        $('.article').magnificPopup({
          delegate: 'a.gi',
          type: 'image',
          tLoading: 'Ładuję #%curr%...',
          mainClass: 'mfp-img-mobile',
          gallery: {
            enabled: true,
            navigateByImgClick: true,
            preload: [0,1] // Will preload 0 - before current, and 1 after the current image
          },
          image: {
            tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
            titleSrc: function(item) {
              return item.el.attr('title');
            }
          }
        });
      });
      $('#print-article').on('click', function (e) {
            e.preventDefault();
            window.print();
        });
        $('a[data-action="sendRecommend"]').on('click',function(e){
            e.preventDefault();
            $('#modal-recommend').modal();
        });
        $('#modal-recommend form').validate({sendValid:false});
        $('#modal-recommend form').on('form:valid',function(e){
        var self = this;
        var formdata = $(self).serialize();
        $.ajax({
            type: "POST",
            url: recommendUrl,
            data: formdata,
            cache: false,
            beforeSend:function(){
                $('#modal-recommend').find('.btn-success').hide();
                $('#modal-recommend').find('.btn-success').closest('div.col-xs-12').append('<i class="fa fa-spinner fa-spin fa-2x"></i>');
            }
        }).done(function(response){
                if(response.success){
                    $('#recommend-form').html('<h5 class="bg-green"><i class="fa fa-check-circle fa-2x"></i> Formularz został wysłany. Dziękujemy.</h5>');
                }else {
                    alert('Nie udało się wysłać formularza');
                    $('#modal-recommend').find('.btn-success').show();
                }
            });
        });
    </script>
{% endblock %}
{%block metaDescription %}{{article.intro | slice(0,300)}}{% endblock %}
{%block ogDescription %}{{article.intro | slice(0,300)}}{% endblock %}
{%block twitterDescription %}{{article.intro  | slice(0,140)}}{% endblock %}
{%block pageTitle %}{{article.name}} {{getSettings('pageTitle')}}{%endblock%}
{%block ogTitle %}{{article.name}} {{getSettings('pageTitle')}}{% endblock %}
{%block twitterTitle %}{{article.name}} {{getSettings('pageTitle')}}{% endblock %}