{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="">
        <div class="col-md-12 account start">
            {% include 'AppUserBundle:_Partials:accountButtons.html.twig' %}
            {% if app.user.isAgent %}
                <div class="col-md-12 filter-agent-offers">
                    <a href="{{domain}}{{path('user_account', app.request.query.all|merge({'offers':'page'}))}}" class="btn {% if app.request.get('offers','page') == 'page' %}btn-success{% else %}btn-default{% endif %}" title="Ogłoszenia ze strony">Ogłoszenia ze strony</a>
                    <a href="{{domain}}{{path('user_account', app.request.query.all|merge({'offers':'inet'}))}}" class="btn {% if app.request.get('offers') == 'inet' %}btn-success{% else %}btn-default{% endif %}" title="Ogłoszenia z programu INET">Ogłoszenia z programu INET</a>
                </div>
            {% endif %}
            <div class="col-md-12 filter-offers">
                {% if app.user.hasActiveSubscription %}
                        <a href="#" class="btn btn-primary pull-left subscription" data-action="getSubscriptionInfo" title="Moj pakiet ogłoszeń">Moj pakiet ogłoszeń</a>
                {% endif %}
                <a href="{{domain}}{{path('user_account',app.request.query.all|merge({'type':'active'}))}}" class="btn btn-default" title="Pokaż aktywne">Aktywne</a>
                <a href="{{domain}}{{path('user_account',app.request.query.all|merge({'type':'unactive'}))}}" class="btn btn-default" title="Pokaż zakończone">Zakończone</a>
                <a href="{{domain}}{{path('user_account',app.request.query.all|merge({'type':'waiting'}))}}" class="btn btn-default" title="Pokaż oczekujące">Oczekujące</a>
                <div class="clearfix"></div>
            </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-xs-12"><a href="{{path('user_account_order_subscription')}}" class="buy-packet" title="Zamów pakiet ogłoszeń i oszczędzaj">Zamów pakiet ogłoszeń i oszczędzaj</a></div>
                    <div class="col-md-12 col-xs-12" id="start-contact-form">
                        <form action="#" method="POST" novalidate>
                        <h4 class="form-header">Formularz kontaktowy</h4>
                        <div class="form-container">
                            <div class="form-left-column">
                                <div class="form-group">
                                    {{form_widget(form.subject,{'attr':{'data-validator':'required','placeholder':'nadaj temat wiadomości'}})}}
                                </div>
                                <div class="form-group">
                                    {{form_widget(form.name,{'attr':{'data-validator':'required','placeholder':'Imię i nazwisko / firma'}})}}
                                </div>
                            </div>
                            <div class="form-right-column">
                                {{contentBloks('user_panel_form')}}
                            </div>
                            <div class="form-group message">
                                {{form_widget(form.message,{'attr':{'data-validator':'required','placeholder':'Treść wiadomości'}})}}
                            </div>
                            <div class="form-group button">
                                <button type="submit" class="btn btn-success pull-right">Wyślij</button>
                            </div>
                            {{form_rest(form)}}
                        </div>
                        </form>
                    </div>
        </div>
    </div>
{% include 'AppUserBundle:_Partials:modalSubscription.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        var deleteUrl ='{{domain}}{{path('frontend_offer_delete')}}';
        var promoUrl = '{{domain}}{{path('frontend_offer_promo')}}';
        var editUrl = '{{domain}}{{path('frontend_offer_edit')}}';
        var renewUrl = '{{domain}}{{path('frontend_offer_renew')}}';
        var activateUrl = '{{domain}}{{path('frontend_offer_activate')}}';
        var subscriptionDetailsUrl = '{{domain}}{{path('frontpage_subscription_details')}}';
        var messageUrl = '{{domain}}{{path('user_account_send_message')}}';
    </script>
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script src="{{asset('front-layout/js/account.min.js')}}"></script>
{% endblock %}