{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="">
        <div class="col-md-12 account">
            {% include 'AppUserBundle:_Partials:accountButtons.html.twig' %}
            {% if app.user.isAgent %}
                <div class="col-md-12 filter-agent-offers">
                    <a href="{{domain}}{{path('user_account', app.request.query.all|merge({'offers':'page'}))}}" class="btn {% if app.request.get('offers','page') == 'page' %}btn-success{% else %}btn-default{% endif %}" title="Ogłoszenia ze strony">Ogłoszenia ze strony</a>
                    <a href="{{domain}}{{path('user_account', app.request.query.all|merge({'offers':'inet'}))}}" class="btn {% if app.request.get('offers') == 'inet' %}btn-success{% else %}btn-default{% endif %}" title="Ogłoszenia z programu INET">Ogłoszenia z programu INET</a>
                </div>
            {% endif %}
            <div class="col-md-12 filter-offers">
                {% if app.user.hasActiveSubscription %}
                        <a href="#" class="btn btn-primary pull-left subscription" data-action="getSubscriptionInfo" title="Moj pakiet ogłoszeń">Moj pakiet ogłoszeń</a>
                {% endif %}
                <a href="{{domain}}{{path('user_account',app.request.query.all|merge({'type':'active'}))}}" class="btn {% if app.request.get('type','active') == 'active' %}btn-success{% else %}btn-default{% endif %}" title="Pokaż aktywne">Aktywne</a>
                <a href="{{domain}}{{path('user_account',app.request.query.all|merge({'type':'unactive'}))}}" class="btn {% if app.request.get('type') == 'unactive' %}btn-success{% else %}btn-default{% endif %}" title="Pokaż zakończone">Zakończone</a>
                <a href="{{domain}}{{path('user_account',app.request.query.all|merge({'type':'waiting'}))}}" class="btn {% if app.request.get('type') == 'waiting' %}btn-success{% else %}btn-default{% endif %}" title="Pokaż oczekujące">Oczekujące</a>
                <div class="clearfix"></div>
            </div>
                <div class="clearfix"></div>
            <form class="form-inline" action="{{domain}}{{path(app.request.get('_route'))}}" method="GET">
                <input type="hidden" name="type" value="{{ app.request.get('type','active') }}"/>
                {% include 'AppUserBundle:_Partials:offersTableFilters.html.twig' %}
            </form>
            <form method="GET" action="" id="table-form">
                <div class="col-md-12">
                    <div class="row">
                    {% include 'AppFrontPageBundle:_Partials:flashMessage.html.twig' %}
                    </div>
                    {% if offers | length > 0 %}
                    {% include 'AppUserBundle:_Partials:offersTable.html.twig' %}
                    {{ knp_pagination_render(offers) }}
                    <div class="offers-manage">
                        <a href="{{domain}}{{path('frontend_offer_add_step_1')}}" class="btn btn-success pull-right" title="Dodaj nowe">Dodaj nowe</a>
                        {% if app.request.get('type','active') == 'active' %}
                            <a href="#" class="btn btn-success pull-right" data-action="delete" title="Usuń">Usuń</a>
                            <a href="#" class="btn btn-success pull-right" data-action="edit" title="Edytuj">Edytuj</a>
                        {% elseif app.request.get('type') == 'unactive' %}
                            <a href="#" class="btn btn-success pull-right" data-action="renew" title="Aktywuj Ponownie">Aktywuj Ponownie</a>
                        {% elseif app.request.get('type') == 'waiting'%}
                            <a href="#" class="btn btn-success pull-right" data-action="activate" title="Aktywuj">Aktywuj</a>
                        {% endif %}
                        <a href="#" class="btn btn-default pull-right" data-action="adminContact" title="Pytanie do admina">Pytanie do admina</a>
                        <a href="{{domain}}{{path('user_account_order_subscription')}}" class="btn btn-primary pull-right" title="Zamów pakiet ogłoszeń">Zamów pakiet ogłoszeń</a>
                        {% if app.request.get('type','active') == 'active' %}
                           <a href="#" class="btn btn-success pull-right btn-promo" data-action="promo" title="Promuj">Promuj</a>
                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                       <div class="clearfix"></div>
                    {% else %}
                        <div class="clearfix"></div>
                        <div class="no-results">Brak Ogłoszeń</div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% include 'AppFrontPageBundle:_Partials:modalDelete.html.twig' %}
{% include 'AppFrontPageBundle:_Partials:modalSelectWarning.html.twig' %}
{% include 'AppUserBundle:_Partials:modalSubscription.html.twig' %}
{% include 'AppUserBundle:_Partials:modalAdminContact.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        var deleteUrl ='{{domain}}{{path('frontend_offer_delete')}}';
        var promoUrl = '{{domain}}{{path('frontend_offer_promo')}}';
        var editUrl = '{{domain}}{{path('frontend_offer_edit')}}';
        var renewUrl = '{{domain}}{{path('frontend_offer_renew')}}';
        var activateUrl = '{{domain}}{{path('frontend_offer_activate')}}';
        var subscriptionDetailsUrl = '{{domain}}{{path('frontpage_subscription_details')}}';
        var messageUrl = '{{domain}}{{path('user_account_send_message')}}';
    </script>
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script src="{{asset('front-layout/js/account.min.js')}}"></script>
{% endblock %}