{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="">
        <div class="col-md-12 account">
            {% if is_granted('IS_AUTHENTICATED_FULLY')%}
            {% include 'AppUserBundle:_Partials:accountButtons.html.twig' %}
            {% endif %}
            <h1>Obserwowane ogłoszenia</h1>
            <form class="form-inline" action="{{domain}}{{path(app.request.get('_route'))}}" method="GET">
                {% include 'AppUserBundle:_Partials:offersTableFilters.html.twig' %}
            </form>
             <form method="GET" action="{{domain}}{{path('frontend_offer_observed_multi_remove')}}" id="table-form">
                <div class="col-md-12">
                    <div class="row">
                    {% include 'AppFrontPageBundle:_Partials:flashMessage.html.twig' %}
                    </div>
                    {% if offers | length > 0 %}
                    {% include 'AppUserBundle:_Partials:offersTable.html.twig' %}
                    {{ knp_pagination_render(offers) }}

                    <div class="offers-manage">
                       <a href="#" class="btn btn-success pull-right" data-action="removeFromObserved" title="Usuń z obserwowanych">Usuń z obserwowanych</a>
                       <a href="#" class="btn btn-default pull-right" data-action="adminContact" title="Pytanie do admina">Pytanie do admina</a>
                       <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    {% else %}
                        <div class="no-results">Brak Ogłoszeń</div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {% include 'AppFrontPageBundle:_Partials:modalDelete.html.twig' %}
    {% include 'AppFrontPageBundle:_Partials:modalSelectWarning.html.twig' %}
    {% include 'AppUserBundle:_Partials:modalAdminContact.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
         var messageUrl = '{{domain}}{{path('user_account_send_message')}}';
         var deleteUrl = '{{domain}}{{path('frontend_offer_observed_multi_remove')}}';
        $('select[data-action="changeOrder"]').on('change',function(){
            $(this).closest('form').submit();
        });
    </script>
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script src="{{asset('front-layout/js/account.min.js')}}"></script>
{% endblock %}
{%block metaDescription %}Lista Obserwowanych ofert &#9989; Ponad 60 000 Ofert. &#9989; 27 Lat Doświadczenia na Rynku Polskim i Zagranicznym &#9989; Niemal 70 Biur Nieruchomości w Całej Polsce. Sprawdź Teraz i Zadzwoń »{% endblock %}
{%block ogDescription %}Lista Obserwowanych ofert  &#9989; Ponad 60 000 Ofert. &#9989; 27 Lat Doświadczenia na Rynku Polskim i Zagranicznym &#9989; Niemal 70 Biur Nieruchomości w Całej Polsce. Sprawdź Teraz i Zadzwoń »{% endblock %}
{%block twitterDescription %}Lista Obserwowanych ofert  &#9989; Ponad 60 000 Ofert. &#9989; 27 Lat Doświadczenia na Rynku Polskim i Zagranicznym &#9989; Niemal 70 Biur Nieruchomości w Całej Polsce. Sprawdź Teraz i Zadzwoń »{% endblock %}
{%block pageTitle %}Lista Obserwowanych ofert. Mieszkania na Sprzedaż - Ogłoszenia Nieruchomości WGN{%endblock%}
{%block ogTitle %}Lista Obserwowanych ofert. Mieszkania na Sprzedaż - Ogłoszenia Nieruchomości WGN{% endblock %}
{%block twitterTitle %}Lista Obserwowanych ofert. Mieszkania na Sprzedaż - Ogłoszenia Nieruchomości WGN{% endblock %}