{% set nopadding = '' %}
{% if app.request.get('_route') == 'frontend_offer_show'
    or app.request.get('_route') == 'frontend_offer_subdomain'
    or app.request.get('_route') == 'frontend_offer_archive_subdomain'
%}
    {% set nopadding = 'no-padding' %}
{% endif %}

<div class="col-md-12 search-list search-links-box {{ nopadding }}">
    <h3>Znajdź nieruchomości w wybranych miastach</h3>
    {% for category in categories %}
        <div>
            <a class="active" href="{% if category.url is not empty %}{{ app.request.getSchemeAndHttpHost() }}{{ category.url }}{% endif %}" title="{{category.name}}">{{category.name}}</a>
        </div>
        <div class="row search-list-links">
            {% for link in category.links %}
                <a href="{{link.url}}" title="{{link.name}}">{{link.name}}</a>
            {% endfor %}
        </div>
    {% endfor %}
</div>
