{% set i = [] %}
{% for category in categories %}
    {% set index = 0 %}
    {% for link in category.links %}
        {% if '/'~city~'/' in link.url %}
            {% set i = i|merge([index]) %}
        {% elseif '-'~city~'.' in link.url %}
            {% set i = i|merge([index]) %}
        {% endif %}
        {% set index = index+1 %}
    {% endfor %}
{% endfor %}

<div class="col-md-12 search-list search-list-links-subdomain no-padding">
    {% if searchParams is defined and searchParams.transactionType is defined and searchParams.location is defined %}
        <h3>Nieruchomości na {{ searchParams.transactionType.name | lower }}: {{ searchParams.location.city }}</h3>
    {% else %}
        <h3>Znajdź nieruchomości: {{ city |capitalize }}</h3>
    {% endif %}
    {% set index = -1 %}
    {% for category in categories %}
        {% set index = index+1 %}
        {% if transaction in category.name %}
            {% if i[index] is defined %}
                {% if category.links[i[index]] is defined and "https://"~app.request.httpHost != category.links[i[index]].url %}
                    <div class="d-inline-block">
                        <a class="active" href="{{ category.links[i[index]].url }}" title="{{category.name}}">{{category.name|split(' na')[0]}}</a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>