<div class="row gallery">
    <div class="col-md-12">
        <h2>Dodaj zdjęcia i film</h2>
    </div>
    <div class="col-md-11 images-list">
        {% if offer.images | length > 0 %}
            {% for image in offer.images %}
                <div class="img ui-sortable-handle loaded" data-id="{{image.id}}">
                    <a href="#" class="remove-image" title="Usuń"></a>
                    <img src="{{('/uploads/offers/'~offer.id~'/'~image.name) |imagine_filter('offer_thumbnails') }}" alt="{{offer.name}}"/>
                </div>
            {% endfor %}
            {% for i in 0..(12 - offer.images | length)%}
                <div class="img"></div>
            {% endfor %}
        {% else %}
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        {% endif %}
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Film</label>
            {{form_widget(form.properties.video)}}
            {{form_errors(form.properties.video)}}
        </div>
    </div>
</div>