{% include 'AppOfferBundle:_Partials:formPartLocationData.html.twig' %}
{% if transaction.id == 2 or transaction.id==4 %}
    {% set required = false %}
{% else %}
    {% set required = true %}
{% endif %}
<div class="row offer-data">
    <div class="col-md-4 offset-top">
        <div class="form-group">
            <label>Rynek{% if required %}*{%endif %}</label>
            {% if required %}
                {{form_widget(form.typeProperties.market,{'attr':{'data-validator':'required'}})}}
            {% else %}
                {{form_widget(form.typeProperties.market)}}
            {%endif %}
            {{form_errors(form.typeProperties.market)}}
        </div>
        <div class="form-group offset-top">
            <label>Liczba pokoi{% if required %}*{% else %} do{%endif %}</label>
            {% if required %}
                {{form_widget(form.typeProperties.rooms,{'attr':{'data-validator':'required'}})}}
            {% else %}
                {{form_widget(form.typeProperties.rooms)}}
            {%endif %}
            {{form_errors(form.typeProperties.rooms)}}
        </div>
        <div class="form-group">
            <label>Piętro (0=Parter)</label>
            {{form_widget(form.typeProperties.floor)}}
            {{form_errors(form.typeProperties.floor)}}
        </div>
        <div class="form-group">
            <label>Liczba kondygnacji w budynku</label>
            {{form_widget(form.typeProperties.storeys)}}
            {{form_errors(form.typeProperties.storeys)}}
        </div>
    </div>
     <div class="col-md-4 offset-top">
        <div class="form-group">
            <label>Forma własności</label>
            {{form_widget(form.typeProperties.property)}}
            {{form_errors(form.typeProperties.property)}}
        </div>
        <div class="form-group offset-top">
            <label>Stan techniczny</label>
            {{form_widget(form.typeProperties.technicalCondition)}}
            {{form_errors(form.typeProperties.technicalCondition)}}
        </div>
        <div class="form-group">
            <label>Wystawa Okien</label>
            {{form_widget(form.typeProperties.exhibitionWindows)}}
            {{form_errors(form.typeProperties.exhibitionWindows)}}
        </div>
        <div class="form-group">
            <label>Wysokość Czynszu</label>
            <div class="input-group">
            {{form_widget(form.typeProperties.monthPayments)}}
            {{form_errors(form.typeProperties.monthPayments)}}
            <span class="input-group-btn">
            {{form_widget(form.typeProperties.monthPaymentsCurrency)}}
            </span>
            </div>
            {{form_errors(form.typeProperties.monthPayments)}}
        </div>
    </div>
     <div class="col-md-4">
        {% include 'AppOfferBundle:_Partials:formPartPromoState.html.twig' %}
        <div class="form-group">
            <label>Rok Budowy</label>
            {{form_widget(form.typeProperties.yearOfBuilding)}}
            {{form_errors(form.typeProperties.yearOfBuilding)}}
        </div>
        <div class="form-group">
            <label>Możliwość oglądania</label>
            {{form_widget(form.typeProperties.abilityToWath)}}
            {{form_errors(form.typeProperties.abilityToWath)}}
        </div>
        <div class="form-group">
            <label>Nieruchomość dostępna od</label>
            {{form_widget(form.typeProperties.availableFrom)}}
            {{form_errors(form.typeProperties.availableFrom)}}
        </div>
    </div>
</div>
{% include 'AppOfferBundle:_Partials:formPartAdditionalInfo.html.twig' %}