{% include 'AppOfferBundle:_Partials:formPartLocationData.html.twig' %}
<div class="row offer-data">
    <div class="col-md-4 offset-top">
        <div class="form-group">
            <label>Wymiary</label>
            <div class="input-group">
                {{form_widget(form.typeProperties.dimensions,{'attr':{'placeholder':'20x40'}})}}
                <div class="input-group-addon">m</div>
            </div>
            {{form_errors(form.typeProperties.dimensions)}}
        </div>
        <div class="form-group offset-top">
            <label>Stan prawny działki</label>
            {{form_widget(form.typeProperties.legalStatus)}}
            {{form_errors(form.typeProperties.legalStatus)}}
        </div>
    </div>
     <div class="col-md-4 offset-top">
        <div class="form-group">
            <label>Ogrodzenie</label>
            {{form_widget(form.typeProperties.hasFence)}}
            {{form_errors(form.typeProperties.hasFence)}}
        </div>
    </div>
     <div class="col-md-4">
        {% include 'AppOfferBundle:_Partials:formPartPromoState.html.twig' %}
    </div>
</div>
{% include 'AppOfferBundle:_Partials:formPartMedia.html.twig' %}
{% include 'AppOfferBundle:_Partials:formPartNeighborhood.html.twig' %}
