{% include 'AppOfferBundle:_Partials:formPartLocationData.html.twig' %}
{% if transaction.id == 2 or transaction.id==4 %}
    {% set required = false %}
{% else %}
    {% set required = true %}
{% endif %}
<div class="row offer-data">
    <div class="col-md-4 offset-top">
        <div class="form-group">
            <label>Rynek{% if required %}*{%endif %}</label>
            {% if required %}
                {{form_widget(form.typeProperties.market,{'attr':{'data-validator':'required'}})}}
            {% else %}
                {{form_widget(form.typeProperties.market)}}
            {%endif %}
            {{form_errors(form.typeProperties.market)}}
        </div>
        <div class="form-group offset-top">
            <label>Okna</label>
            {{form_widget(form.typeProperties.windows)}}
            {{form_errors(form.typeProperties.windows)}}
        </div>
        <div class="form-group">
            <label>Pokrycie dachu</label>
            {{form_widget(form.typeProperties.roofCover)}}
            {{form_errors(form.typeProperties.roofCover)}}
        </div>
        <div class="form-group">
            <label>Dach</label>
            {{form_widget(form.typeProperties.roof)}}
            {{form_errors(form.typeProperties.roof)}}
        </div>
    </div>
     <div class="col-md-4 offset-top">
        <div class="form-group">
            <label>Liczba pokoi{% if required %}*{% else %} do{%endif %}</label>
            {% if required %}
                {{form_widget(form.typeProperties.rooms,{'attr':{'data-validator':'required'}})}}
            {% else %}
                {{form_widget(form.typeProperties.rooms)}}
            {%endif %}
            {{form_errors(form.typeProperties.rooms)}}
        </div>
        <div class="form-group offset-top">
            <label>Liczba kondygnacji w budynku</label>
            {{form_widget(form.typeProperties.storeys)}}
            {{form_errors(form.typeProperties.storeys)}}
        </div>
        <div class="form-group">
            <label>Stan techniczny</label>
            {{form_widget(form.typeProperties.technicalCondition)}}
            {{form_errors(form.typeProperties.technicalCondition)}}
        </div>
        <div class="form-group">
            <label>Rok Budowy</label>
            {{form_widget(form.typeProperties.yearOfBuilding)}}
            {{form_errors(form.typeProperties.yearOfBuilding)}}
        </div>
    </div>
     <div class="col-md-4">
        {% include 'AppOfferBundle:_Partials:formPartPromoState.html.twig' %}
        <div class="form-group">
            <label>Dojazd</label>
            {{form_widget(form.typeProperties.accessRoad)}}
            {{form_errors(form.typeProperties.accessRoad)}}
        </div>
        <div class="form-group">
            <label>Położenie</label>
            {{form_widget(form.typeProperties.localization)}}
            {{form_errors(form.typeProperties.localization)}}
        </div>
        <div class="form-group">
            <label>Nieruchomość dostępna od</label>
            {{form_widget(form.typeProperties.availableFrom)}}
            {{form_errors(form.typeProperties.availableFrom)}}
        </div>
    </div>
</div>
{% include 'AppOfferBundle:_Partials:formPartMedia.html.twig' %}
{% include 'AppOfferBundle:_Partials:formPartAdditionalInfo.html.twig' %}