 <div class="modal fade" id="select-category" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                Wybierz
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <li><a href="{{path('backoffice_offer_add',{'category':1,'transaction':1})}}" title="Sprzedaż Mieszkania">Sprzedaż Mieszkania</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':1,'transaction':2})}}" title="Kupno Mieszkania">Kupno Mieszkania</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':1,'transaction':3})}}" title="Wynajem Mieszkania">Wynajem Mieszkania</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':1,'transaction':4})}}" title="Najem Mieszkania">Najem Mieszkania</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="{{path('backoffice_offer_add',{'category':2,'transaction':1})}}" title="Sprzedaż Domy">Sprzedaż Domy</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':2,'transaction':2})}}" title="Kupno Domy">Kupno Domy</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':2,'transaction':3})}}" title="Wynajem Domy">Wynajem Domy</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':2,'transaction':4})}}" title="Najem Domy">Najem Domy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="{{path('backoffice_offer_add',{'category':3,'transaction':1})}}" title="Sprzedaż Działki">Sprzedaż Działki</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':3,'transaction':2})}}" title="Kupno Działki">Kupno Działki</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':3,'transaction':3})}}" title="Wynajem Działki">Wynajem Działki</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':3,'transaction':4})}}" title="Najem Działki">Najem Działki</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="{{path('backoffice_offer_add',{'category':4,'transaction':1})}}" title="Sprzedaż Lokale">Sprzedaż Lokale</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':4,'transaction':2})}}" title="Kupno Lokale">Kupno Lokale</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':4,'transaction':3})}}" title="Wynajem Lokale">Wynajem Lokale</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':4,'transaction':4})}}" title="Najem Lokale">Najem Lokale</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="{{path('backoffice_offer_add',{'category':5,'transaction':1})}}" title="Sprzedaż Komercyjn">Sprzedaż Komercyjne</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':5,'transaction':2})}}" title="Kupno Komercyjne">Kupno Komercyjne</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':5,'transaction':3})}}" title="Wynajem Komercyjne">Wynajem Komercyjne</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':5,'transaction':4})}}" title="Najem Komercyjne">Najem Komercyjne</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li><a href="{{path('backoffice_offer_add',{'category':6,'transaction':1})}}" title="Sprzedaż Garaże">Sprzedaż Garaże</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':6,'transaction':2})}}" title="Kupno Garaże">Kupno Garaże</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':6,'transaction':3})}}" title="Wynajem Garaże">Wynajem Garaże</a></li>
                            <li><a href="{{path('backoffice_offer_add',{'category':6,'transaction':4})}}" title="Najem Garaże">Najem Garaże</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
