<div class="my-item-list {% if loop.index == 1 %}first{%endif%}">
    {%if item.isPromo and item.promoExpire >= date() and loop.index ==1%}
        <div class="offers-group-header">Wyróżnione ogłoszenia</div>
        {% set promo = true %}
    {% elseif (not item.isPromo or (item.isPromo and item.promoExpire <= date())) and promo %}
        <div class="offers-group-header">Wszystkie ogłoszenia</div>
        {% set promo = false %}
    {% else %}
        <hr>
    {% endif %}

        <div class="col-md-12 no-padding title-bar">
            <div class="mobile-desc"><strong>{{item.squere}}m&sup2;</strong>, <strong>{{item.city}}</strong></div>
            <h2 class="offer-title">
                <a href="{{ offerUrlFromArray(item) }}" title="{{item.name}}">{{item.name}}</a>
            </h2>
        </div>
        <div></div>
        <div class="col-xs-12 col-sm-4 col-md-4 main-photo" data-offer-id="{{ item.id }}">
            {% if item.mainPhoto !='' %}
                {% if item.importId !='' or item.legacyId !='' %}
                    {% set thumbType = 'offer_list_no_watermark' %}
                {% else %}
                    {% set thumbType = 'offer_list' %}
                {% endif %}
                <a href="{{offerUrlFromArray(item)}}" class="offer-image" title="{{item.name}}"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{('/uploads/offers/'~item.id~'/'~item.mainPhoto) |imagine_filter(thumbType) }}" alt="{{item.name}}" class="img-responsive lazy" /></a>
            {% else %}
            <a href="{{offerUrlFromArray(item)}}" class="offer-image" title="{{item.name}}">
                <div class="no-img"></div>
            </a>
            {% endif %}
            {%if item.isPromo and item.promoExpire >= date() %}
               <div class="hidden-sm hidden-md hidden-lg promo-before"></div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 details  no-padding-right">
                <div class="col-md-12">
                    <div class="offer-top-info">
                        <div class="date">Data dodania: {{item.modifyDate | humanDate}}</div>
                        <div>Państwo: {{item.country.name}}</div>
                        <div>Miasto: {{item.city}}</div>
                        {% if item.floor !='' %}
                            {% if item.floor != 0 %}<div>Piętro: {{item.floor}}</div>{% endif %}
                            {% if item.floor == 0 %}<div>Piętro: parter</div>{% endif %}
                        {% endif %}
                        {% if item.rooms is defined and item.rooms > 0 %}
                            <div>Liczba pokoi: {{item.rooms}}</div>
                        {% endif %}
                        <div>Metraż: {{item.squere}}m&sup2;</div>
                        {% if item.isExclusive %}{{ isExclusive('tiny') }}{% endif %}
                    </div>
                </div>
                <div class="col-md-12 no-padding-right">
                    <div class="offer-bottom-info occasion">
                        <a href="{{offerUrlFromArray(item)}}" title="{{item.description | replace({"<br />":""}) | slice(0, 160)}}">{{item.description | replace({"<br />":""}) | slice(0, 160)}}</a> <a href="{{offerUrlFromArray(item)}}" class="go-btn" title="więcej"><span class="hidden-md hidden-lg">więcej</span><span class="hidden-xs hidden-sm">...</span> <i class="fa fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="price-info-box">
                    <div class="small-text">Oferta {{item.signature}}</div>
                    <div class="price-top"><span class="underline"><span>Cena</span> {{item.price | number_format(0, ',', ' ')}} {% if item.currency.symbol is defined %}{{item.currency.symbol}}{% endif %}</span></div>
                    <div class="price-middle {% if not isOccasion(item) %}price-end{% endif %}">
                        cena / m&sup2; {{item.pricem2 | number_format(0, ',', ' ')}} {% if item.currency.symbol is defined %}{{item.currency.symbol}}{% endif %}
                        <label>
                            <input type="checkbox" name="mark"> oznacz ofertę
                        </label>
                    </div>
                    {% if isOccasion(item) %}
                    <div class="price-bottom price-end">
                        <i class="fa fa-tags"></i>OKAZJA!
                    </div>
                    {% endif %}
                </div>
        </div>
    </div>
    <div class="clearfix"></div>
