<form action="#" method="POST" novalidate class="hidden-print">
    <div class="col-md-12 no-padding">
        <div class="form-group">
            {{form_widget(contactForm.message,{'attr':{'data-validator':'required,length','data-validator-length':',1000'}})}}
            <p class="pull-right counter">Zostało jeszcze: <span id="message-letters-counter"></span> znaków</p>
        </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 no-padding">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                {{form_widget(contactForm.email,{'attr':{'data-validator':'required,email','placeholder':'Twój e-mail'}})}}
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6 col-xs-12 col-md-offset-2 no-padding">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                {{form_widget(contactForm.phone,{'attr':{'placeholder':'Twój telefon'}})}}
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding-x" style="margin-top: 15px;">
        <div class="form-group">
            <div class="control-label">
                {{form_widget(contactForm.agree,{'attr':{'data-validator':'required'}})}}
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="form-group">
            <div class="control-label">
                {{form_widget(contactForm.agreement_1,{'attr':{'data-validator':'required'}})}}
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="form-group">
            <div class="control-label">
                {{form_widget(contactForm.agreement_2,{'attr':{'data-validator':'required'}})}}
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="form-group">
            <div class="control-label">
                {{form_widget(contactForm.agreement_3,{'attr':{'data-validator':'required'}})}}
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="form-group">
            <div class="control-label">
                {{form_widget(contactForm.agreement_4,{'attr':{'data-validator':'required'}})}}
            </div>
        </div>
    </div>
    <div class="col-md-12 no-padding">
        {{form_rest(contactForm)}}
        <button class="btn btn-red pull-right">wyślij wiadomość</button>
    </div>
</form>
