{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="row">
        {% include 'AppArticleBundle:_Partials:leftColumn.html.twig' %}
        <div class="col-md-8">
            <div class="row newsletter">
                <div class="form-box">
                    <h1>Newsletter WGN</h1>
                    <p>Zapisz się do newslettera i otrzymuj najnowsze informacje na swój adres e-mail</p>
                    <div class="row">
                    {% include 'AppFrontPageBundle:_Partials:flashMessage.html.twig' %}
                    </div>

                    <form action="" method="POST" novalidate>
                    <div class="row">
                        <div class="form-group col-xs-10">
                            {{form_widget(form.email,{'attr':{'data-validator':'required'}})}}
                            {{form_errors(form.email)}}
                        </div>
                        <div class="form-group col-xs-2">
                            <button class="btn btn-success">Zapisz</button>
                        </div>
                    </div>

                    <p>Na podstawie rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z 27.04.2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (Dz.Urz. UE L 119, s.1) -- dalej RODO informujemy, że:</p>
                        <ul>
                            <li>Twoje dane osobowe będą przetwarzane na podstawie Twojej zgody (art. 6 ust. 1 lit. a RODO).</li>
                            <li>Zaakceptowanie przez Ciebie treści regulaminu oraz polityki prywatności jest niezbędne do założenia konta, w serwisie, pozostałe zgody są fakultatywne, ale w razie braku ich wyrażenia nie będziemy mogli informować Cię o nowych promocjach i ofertach. </li>
                            <li>Informacje zamieszczone w zakładce Ochrona danych osobowych, w której zawarte są dodatkowe, szczegółowe informacje dotyczące przetwarzania Twoich danych osobowych."/</li>
                        </ul>
                        <div class="row">
                            <div class="form-group col-xs-12" style="margin-bottom: 0;">
                                {{form_widget(form.agreement_1,{'attr':{'data-validator':'required'}})}}
                                {{form_errors(form.agreement_1)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12" style="margin-bottom: 0;">
                                {{form_widget(form.agreement_2,{'attr':{'data-validator':'required'}})}}
                                {{form_errors(form.agreement_2)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12" style="margin-bottom: 0;">
                                {{form_widget(form.agreement_3,{'attr':{'data-validator':'required'}})}}
                                {{form_errors(form.agreement_3)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12" style="margin-bottom: 0;">
                                {{form_widget(form.agreement_4,{'attr':{'data-validator':'required'}})}}
                                {{form_errors(form.agreement_4)}}
                            </div>
                        </div>
                        {{form_rest(form)}}
                    </form>
                </div>
        </div>
    </div>
{% endblock %}
        {% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script type="text/javascript">
        $('form').validate();
    </script>
{% endblock %}