{% spaceless %}
<div data-category="4" class="advanced-group">
    <div class="col-md-8 no-padding">
        <div class="col-md-6 no-padding">
            <div class="form-group" data-form-part="market">
                <label>Rynek</label>
                <div class="pretty-select">{{form_widget(form.market)}}</div>
            </div>
            <div class="col-md-12 no-padding-left"><label>Cena za 1m2</label></div>
            <div class="col-md-4 no-padding">
                <div class="form-group">
                    {{form_widget(form.priceDefm2From,{'attr':{'placeholder':'od','autocomplete':'off'}})}}
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 no-padding">
                <div class="form-group">
                    {{form_widget(form.priceDefm2To,{'attr':{'placeholder':'do','autocomplete':'off'}})}}
                </div>
            </div>
            <div class="col-md-3 no-padding-right">
                    <div class="form-group">
                        <div class="pretty-select">
                            <select id="search_currency_local" name="search[currency]" class="form-control">
                                <option value="1">zł</option>
                                <option value="2">€</option>
                                <option value="3">$</option>
                            </select>
                        </div>
                    </div>
            </div>
        </div>
        <div class="col-md-6 padding-2x">
            <div class="form-group">
                <label>Piętro (0=parter)</label>
                <div class="pretty-select">{{form_widget(form.floor)}}</div>
            </div>
            <div class="col-md-12 no-padding-left"><label>Rok budowy</label></div>
            <div class="col-md-6 no-padding-left">
                <div class="form-group">
                    {{form_widget(form.yearOfBuildingFrom,{'attr':{'placeholder':'od'}})}}
                </div>
            </div>
            <div class="col-md-6 no-padding-right">
                <div class="form-group">
                    {{form_widget(form.yearOfBuildingTo,{'attr':{'placeholder':'do'}})}}
                </div>
            </div>
        </div>
        <div class="col-md-12 no-padding padding-right-2x">
           <h3>Dodatkowe informacje</h3>
           {{form_widget(form.additionalInfo)}}
       </div>
    </div>
    <div class="col-md-4 no-padding">
        <div class="form-group" data-form-part="description">
            <label>Szukaj po słowach kluczowych w opisie</label>
            {{form_widget(form.descriptionLike)}}
        </div>
        <div class="form-group" data-form-part="signature">
            <label>Numer oferty</label>
            {{form_widget(form.signatureLike)}}
        </div>
        <div data-form-part="features">
            {{form_widget(form.mainPhotoHas)}}
            {{form_widget(form.isDirect)}}
            {{form_widget(form.isExclusive)}}
        </div>
        <div class="form-group local-type" data-form-part="type">
            <label>Rodzaj lokalu</label>
            <div class="pretty-select">{{form_widget(form.type)}}</div>
        </div>
    </div>
</div>
{% endspaceless %}
