{% if isMobile() %}
        <form method="GET" action="{{domain}}{{ form.vars.action}}" id="search-mobile-box-form" class="hidden-md hidden-lg" novalidate>
            <div class="hidden-print" id="search-mobile-box">
                <div id="search-mobile-container"
                        {% if app.request.attributes.get('_route') == 'frontend_offer_search_url_with_location' or app.request.attributes.get('_route') == 'frontend_offer_subdomain'
                        or app.request.attributes.get('_route') == 'frontend_offer_search_subdomain' or app.request.attributes.get('_route') == 'frontend_offer_search_url' %}
                            style="display: none;"
                        {% endif %}
                     class="bg-gray">
                    <div class="field-location">
                        <div class="form-group">
                            <div class="input-group">
                                {{form_widget(mobileForm.locationIndexLike,{'attr':{'placeholder':'miejscowość, dzielnica, ulica','autocomplete':'off'}})}}
                                <span class="input-group-btn">
                                {{form_widget(mobileForm.distance,{'attr':{'class':'btn'}})}}
                            </span>
                            </div>
                            <div class="l-suggestions" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="field-type">
                        <div class="form-group">
                            {{form_widget(mobileForm.category)}}
                        </div>
                    </div>
                    <div class="field-transaction">
                        <div class="form-group">
                            {{form_widget(mobileForm.transactionType)}}
                        </div>
                    </div>
                    <div class="field-country">
                        <div class="form-group">
                            <div class="pretty-select">{{form_widget(mobileForm.country)}}</div>
                        </div>
                    </div>

                    <div id="field-filters">
                        <input type="button" class="btn btn-info wgn-main-find-btn" value="Pokaż/Ukryj Filtry">
                    </div>

                    <div id="row-bottom-mobile" style="display: none">
                        <div class="field-price">
                            <label>Cena</label>
                            <div class="form-group from" id="price-from">
                                {{form_widget(form.priceDefFrom,{'attr':{'placeholder':'od','autocomplete':'off'}})}}
                            </div>
                            <div class="form-group to">
                                {{form_widget(form.priceDefTo,{'attr':{'placeholder':'do','autocomplete':'off'}})}}
                            </div>
                            <div class="form-group currency">
                                <div class="pretty-select">{{form_widget(form.currency)}}</div>
                            </div>
                        </div>
                        <div class="field-squere">
                            <label>Powierzchnia w m&sup2;</label>
                            <div class="form-group from">
                                {{form_widget(form.squereFrom,{'attr':{'placeholder':'od','autocomplete':'off'}})}}
                            </div>
                            <div class="form-group to">
                                {{form_widget(form.squereTo,{'attr':{'placeholder':'do','autocomplete':'off'}})}}
                            </div>
                        </div>
                        <div class="rooms-fields {% if app.request.get('search[category]', null, true) > 2%}hidden{% endif %}">
                            <label>Liczba pokoi</label>
                            <div class="form-group from">
                                {{form_widget(form.roomsFrom,{'attr':{'placeholder':'od','autocomplete':'off'}})}}
                            </div>
                            <div class="form-group to">
                                {{form_widget(form.roomsTo,{'attr':{'placeholder':'do','autocomplete':'off'}})}}
                            </div>
                        </div>
                        <!-- More precision -->
                        <div class="form-group" data-form-part="market">
                            <label>Rynek</label>
                            <div class="pretty-select">{{form_widget(form.market)}}</div>
                        </div>
                        <div class="form-group" data-form-part="type">
                            <label>Rodzaj mieszkania</label>
                            <div class="pretty-select">{{form_widget(form.type)}}</div>
                        </div>
                        <div class="field-price">
                            <label>Cena za 1m2</label>
                            <div class="form-group from">
                                {{form_widget(form.priceDefm2From,{'attr':{'placeholder':'od','autocomplete':'off'}})}}
                            </div>
                            <div class="form-group to">
                                {{form_widget(form.priceDefm2To,{'attr':{'placeholder':'do','autocomplete':'off'}})}}
                            </div>
                            <div class="form-group currency">
                                <div class="form-group">
                                    <div class="pretty-select">
                                        <select id="search_currency_flat" name="search[currency]" class="form-control">
                                            <option value="1">zł</option>
                                            <option value="2">€</option>
                                            <option value="3">$</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Piętro (0=parter)</label>
                            <div class="pretty-select">{{form_widget(form.floor)}}</div>
                        </div>
                        <div class="form-group">
                            <label>Liczba kondygnacji w budynku</label>
                            <div class="pretty-select">{{form_widget(form.storeys)}}</div>
                        </div>
                        <div>
                            <label>Rok budowy</label>
                            <div class="form-group from">
                                {{form_widget(form.yearOfBuildingFrom,{'attr':{'placeholder':'od'}})}}
                            </div>
                            <div class="form-group to">
                                {{form_widget(form.yearOfBuildingTo,{'attr':{'placeholder':'do'}})}}
                            </div>
                        </div>

                        <div class="form-group" data-form-part="description">
                            <label>Szukaj po słowach kluczowych w opisie</label>
                            {{form_widget(form.descriptionLike)}}
                        </div>
                        <div class="form-group" data-form-part="signature">
                            <label>Numer oferty</label>
                            {{form_widget(form.signatureLike)}}
                        </div>
                        <div data-form-part="features">
                            {{form_widget(form.mainPhotoHas)}}
                            {{form_widget(form.isDirect)}}
                            {{form_widget(form.isExclusive)}}
                        </div>

                        <div id="search-additional-info">
                            <h3>Dodatkowe informacje</h3>
                            {{form_widget(form.additionalInfo)}}
                        </div>

                    </div>

                    <div class="field-send">
                        <div class="form-group send"><button class="btn btn-success wgn-main-find-btn">Szukaj</button></div>
                    </div>
                </div>
            </div>
    {{ form_end(form, {'render_rest': false}) }}
{% else %}
        <form method="GET" action="{{domain}}{{ form.vars.action}}" id="search-box-form" class="hidden-sm hidden-xs" novalidate>
            <div class="hidden-print" id="search-box">
                <div id="search-container" class="bg-gray">
                    <div id="search-left-column">
                        <div id="row-top">
                            <div class="field-type">
                                <label>Typ nieruchomości</label>
                                <div class="form-group">
                                    <div class="pretty-select">{{form_widget(form.category)}}</div>
                                </div>
                            </div>
                            <div class="field-transaction">
                                <label>Transakcja</label>
                                <div class="form-group">
                                    <div class="pretty-select">{{form_widget(form.transactionType)}}</div>
                                </div>
                            </div>
                            <div class="field-country">
                                <div class="form-group">
                                    <label>Kraj</label>
                                    <div class="pretty-select">{{form_widget(form.country)}}</div>
                                </div>
                            </div>
                            <div class="field-location">
                                <label>Lokalizacja</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        {{form_widget(form.locationIndexLike,{'attr':{'placeholder':'miejscowość, dzielnica, ulica','autocomplete':'off'}})}}
                                        <span class="input-group-btn">
                                    <div class="pretty-select">{{form_widget(form.distance,{'attr':{'class':'btn'}})}}</div>
                                </span>
                                    </div>
                                    <div class="l-suggestions" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="row-bottom">
                            <div class="field-price">
                                <label>Cena</label>
                                <div class="form-group from" id="price-from">
                                    {{form_widget(form.priceDefFrom,{'attr':{'placeholder':'od','autocomplete':'off'}})}}
                                </div>
                                <div class="form-group to">
                                    {{form_widget(form.priceDefTo,{'attr':{'placeholder':'do','autocomplete':'off'}})}}
                                </div>
                                <div class="form-group currency">
                                    <div class="pretty-select">{{form_widget(form.currency)}}</div>
                                </div>
                            </div>
                            <div class="field-squere">
                                <label>Powierzchnia w m&sup2;</label>
                                <div class="form-group from">
                                    {{form_widget(form.squereFrom,{'attr':{'placeholder':'od','autocomplete':'off'}})}}
                                </div>
                                <div class="form-group to">
                                    {{form_widget(form.squereTo,{'attr':{'placeholder':'do','autocomplete':'off'}})}}
                                </div>
                            </div>
                            <div class="rooms-fields {% if app.request.get('search[category]', null, true) > 2%}hidden{% endif %}">
                                <label>Liczba pokoi</label>
                                <div class="form-group from">
                                    {{form_widget(form.roomsFrom,{'attr':{'placeholder':'od','autocomplete':'off'}})}}
                                </div>
                                <div class="form-group to">
                                    {{form_widget(form.roomsTo,{'attr':{'placeholder':'do','autocomplete':'off'}})}}
                                </div>
                            </div>
                            <div class="type-fields {% if app.request.get('search[category]', null, true) < 3%}hidden{% endif %}">
                                <label>Rodzaj działki</label>
                                <div class="form-group">
                                    {{form_widget(form.type)}}
                                </div>
                            </div>
                            <div id="search-options-second">
                                <a href="#" data-action="showMore" id="advanced-search-second" class="more" title="Pokaż więcej opcji">rozwiń opcje</a>
                            </div>
                            <div id="search-options">
                                <a href="#" data-action="showMore" id="advanced-search" class="more" title="Pokaż więcej opcji">rozwiń opcje</a>
                            </div>

                        </div>
                    </div>
                    <div id="search-right-column">
                        <a href="{{domain}}{{path('frontend_offers_on_map')}}" id="search-on-map" title="Szukaj na mapie">Szukaj<br/> na mapie</a>
                        <button class="btn btn-success wgn-main-find-btn second">Szukaj</button>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">0% Complete (success)</span>
                    </div>
                </div>
                <div id="search-advanced-options" class="hidden-xs">

                    <div id="search-advanced-options-container"></div>
                    <div class="clearfix"></div>
                </div>
                <div id="search-bottom">
                    <button class="btn btn-success wgn-main-find-btn">Szukaj</button>
                </div>

            </div>

            {{ form_end(form, {'render_rest': false}) }}
{% endif %}
