<div class="col-md-12 item no-padding">
    {% if item.isUrl %}
        {% set url = item.url %}
    {% elseif blog.isWithoutLocation %}
        {% set url =  domain ~ path('frontend_blog_article_search_url',{slug: item.slug,transaction: blog.transactionName,type:blog.typeName}) %}
    {% else %}
        {% set url = host_scheme ~ ':' ~ path('frontend_subdomain_article',{slug: item.slug,subdomain: items[0].blog.subdomain},true) %}
    {% endif %}
    {% if item.mainPhoto !="" %}
        <div class="img">
            <a href="{{url}}" title="{{items[0].name}}"><img src="{{('/uploads/articles/'~item.id~'/'~item.mainPhoto) |imagine_filter('article_main_thumbnail') }}" alt="{{items[0].name}}" class="img-responsive"/></a>
        </div>
    {% endif %}
    <div class="desc {% if item.mainPhoto =="" %}full{%  endif %}">
        <h2><a href="{{url}}" title="{{item.name}}">{{item.name}}</a></h2>
        {{item.intro | raw }}
        {% if not item.isUrl %}
            <a href="{{url}}" class="more" title="Czytaj więcej">Czytaj więcej</a>
        {% endif %}
    </div>
</div>