<div class="col-md-12 item no-padding">
    {% if article.isUrl %}
        {% set url = article.url %}
    {% else %}
        {% set url = domain ~ path('frontend_article_show',{categoryName:article.category.name | prepareUrl,id:article.id,articleName:article.name | prepareUrl}) %}
    {% endif %}
    <div class="article">
        <div class="col-md-12">
            <h2 class="title" id="artykul-{{ article.id }}">{{ article.name }}</h2>
        </div>
        <div class="col-md-12">
            {% if article.mainPhoto !=''%}
                <div class="article-main-photo pull-right">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="{{ ('/uploads/articles/' ~article.id ~ '/' ~ article.mainPhoto) | imagine_filter('article_main_thumbnail') }}" alt="{{article.name}}" class="img-responsive pull-right lazy">
                </div>
            {% endif %}
            {% if article.intro !='' %}
                <div class="article-intro {% if article.mainPhoto ==''%}no-main-photo{% endif %}">
                    {{article.intro | raw}}
                </div>
            {% endif %}
            <div class="article-text">
                {{article.content | raw}}
            </div>
        </div>
    </div>
</div>