<div class="col-md-12 offices-box" id="offer">
    <h3>{{element.name}}</h3>
    <h2><img src="{{asset('front-layout/gfx/logo-sm.png')}}" class="img-responsive" alt="{{config.blockTitle}}" /><span>{{config.blockTitle}}</span></h2>
    {% if offices | length > 0 %}
    <ul>
    {% for office in offices %}
        <li><a href="{{office.developmentOfferUrl}}" title="{{office.name}}, {{office.addresses[0].street}}"><strong>{{office.name}}</strong>, {{office.addresses[0].street}}</a></li>
    {% endfor %}
     </ul>
{% endif %}
</div>
