{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
        Dane Centrali WGN
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#" title="Ustawienia">Ustawienia</a></li>
        <li class="active">Dane Centrali WGN</li>
      </ol>
    </section>
    <section class="content">
        <div class="row">
            {% include 'AppBackOfficeBundle:_Partials:flashMessage.html.twig' %}
            <div class="col-md-12">
                <form method="POST" action="" novalidate enctype="multipart/form-data">
          <!-- general form elements -->
                <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Treść</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

              <div class="box-body">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Kraj</label>
                            {{form_widget(form.companyCountry)}}
                            {{form_errors(form.companyCountry)}}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Kod Pocztowy</label>
                            {{form_widget(form.companyZipCode)}}
                            {{form_errors(form.companyZipCode)}}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Miasto</label>
                            {{form_widget(form.companyCity)}}
                            {{form_errors(form.companyCity)}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ulica</label>
                            {{form_widget(form.companyStreet)}}
                            {{form_errors(form.companyStreet)}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Telefon</label>
                            {{form_widget(form.companyPhone)}}
                            {{form_errors(form.companyPhone)}}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            {{form_widget(form.companyEmail)}}
                            {{form_errors(form.companyEmail)}}
                        </div>
                    </div>
              </div>
                    {{form_rest(form)}}
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Zapisz</button>
              </div>
          </div>
          <!-- /.box -->
        </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block javascripts %}{% endblock %}