{% if ads != null %}
    <div class="{% if config.size is defined %}{{config.size}}{% endif %} position-{{config.idPosition}}" id="ads-{{element.id}}">
    <div class="b-slider">
        <div class="b-slides">
    {% for item in ads %}
        {% set element = null %}
        {% if isMobile() %}
             {% set element = item.mobileFile %}
        {% else %}
              {% set element = item.file %}
        {% endif %}

        {% if element != null %}
            {% set split = element|split('.') %}
            {% if split[1] == 'swf' %}

                <div class="b-box">
                  <object width="{{ item.weight }}" height="{{ item.height }}">
                        <PARAM NAME="movie" VALUE="{{ asset('uploads/ads/'~ item.id ~'/' ~  element) }}{% if item.url != null %}?clickTAG={{domain}}{{ path('frontend_ad_open_url', { id: item.id }) }}{% endif %}">
                        <PARAM NAME="wmode" value="transparent">
                        <embed wmode="transparent" src="{{ asset('uploads/ads/'~ item.id ~'/' ~  element) }}{% if item.url != null %}?clickTAG={{domain}}{{ path('frontend_ad_open_url', { id: item.id }) }}{% endif %}" width="{{ item.weight }}" height="{{ item.height }}" />
                  </object>
                </div>

            {% else %}
                <div class="b-box">
                      {% if item.url != null %}
                        <a target="blank_" href="{{ path('frontend_ad_open_url', { id: item.id }) }}" title="reklama wgn">
                            <img src="{{ asset('uploads/ads/'~ item.id ~'/' ~  element) }}" class="img-responsive" alt="ads wgn"/>
                        </a>
                      {% else %}
                          <img src="{{ asset('uploads/ads/'~ item.id ~'/' ~  element) }}" class="img-responsive" alt="ads wgn"/>
                      {% endif %}
              </div>
            {% endif %}

        {% elseif item.code !='' %}
           <div class="b-box">
            {{ item.code | raw }}
          </div>
          {% elseif item.offer is defined and item.offer is not null %}
            {% if item.offer.name != '' %}
                {% set name = item.offer.name %}
            {% else %}
                {% set name = 'oferta' %}
            {% endif %}
            <div class="b-box promo-offer">
            <a href="{{app.request.baseUrl}}/ad/redirect?id={{item.id}}" class="offer-content" title="{{item.offer.name}}">
                <img src="{{('/uploads/offers/'~item.offer.id~'/'~item.offer.mainPhoto) |imagine_filter('offer_slider')}}" class="img-responsive" alt="{{item.offer.name}}" />
                {% if isOccasion(item.offer) %}<div class="offer-occasion"><i class="fa fa-tags"></i> okazja!</div>{% endif %}
                <div class="offer-desc">{{item.offer.price | number_format(0, ',', ' ')}} {%if item.offer.currency is defined%}{{item.offer.currency.symbol}}{% else %}zł{% endif %}, {{item.offer.squere}}m&sup2; {{item.offer.city}}</div>
            </a>
            </div>
        {% endif %}

    {% endfor %}
    </div>
</div>
    </div>
{% endif %}
