{% if offers | length >0 %}
    <div class="similar-offers  hidden-print {% if config.class is defined %}{{config.class}}{% endif %}" {% if element.customStyle !=''%}style="{{element.customStyle}}"{%endif %}>
        <h3>{{ config.blockTitle }}</h3>
        <div class="row">
            {% for item in offers %}
                <div class="col-md-6 col-xs-12 col-sm-6 item">
                    <div class="border-bottom">
                        <div class="main-photo">
                            {% if item.mainPhoto !='' %}
                                <a href="{{offerUrl(item)}}" title="{{item.name}}"><img src="{{('/uploads/offers/'~item.id~'/'~item.mainPhoto) |imagine_filter('offer_thumbnails') }}" alt="{{item.name}}"/></a>
                            {% else %}
                                <a class="no-img" href="{{offerUrl(item)}}" title="{{item.name}}"></a>
                            {% endif %}
                        </div>
                        <div class="data">
                            <h4><a href="{{offerUrl(item)}}" title="{{item.name}}">{{item.name |  truncate(15, true,'')}}</a></h4>
                            <h5>{{item.city}} {{item.street | slice(0,18)}}</h5>
                            <p class="pull-left">{{item.squere}} m&sup2;</p>
                            <p class="pull-right">{{item.price| number_format(0, ',', ' ')}} {% if item.currency.symbol is defined  %}{{item.currency.symbol}}{% endif %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
