<div class="row">
    <div class="col-md-12">
            <table class="offers table-responsive">
                {% for item in offers %}
                <tr>
                    <td class="select"><input type="checkbox" name="offer[]" value="{{item.id}}"/></td>
                    <td class="img">
                        <a href="{{domain}}{{path('frontend_offer_show',{id:item.id,offerName:item.name | prepareUrl})}}" title="{{item.name}}">
                        {% if item.mainPhoto !='' %}
                        <img src="{{('/uploads/offers/'~item.id~'/'~item.mainPhoto) |imagine_filter('offer_thumbnail') }}" alt="{{item.name}}" class="img-responsive"/>
                        {% else %}
                            <div class="no-img"></div>
                        {% endif %}
                        </a>
                        </td>
                    <td class="data">
                        <p>Od: {{item.createDate | date('d.m.Y')}} Do końca emisji: {{item.expireDate | date('d.m.Y')}}</p>
                        <p><strong>{{item.name}}</strong></p>
                        {% if item.isPromo and date(item.promoExpire) > date() %}
                            <p>Wyróżniona do: {{item.promoExpire | date('d.m.Y')}}</p>
                        {% endif %}
                    </td>
                    <td class="id">
                        <p>id:{{item.signature}}</p>
                        <p>nr:{{item.id}}</p>
                    </td>
                    <td class="squere">{{item.squere}}m&sup2;</td>
                    <td class="price">{{item.price}} {{item.currency.symbol}}</td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td class="hits">wyświetleń: {{item.hits}}</td>
                    <td class="requests">zapytań ze strony: {{item.messages | length}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
</div>
