{% if user.roles[0] !='ROLE_SUPER_ADMIN' %}
    {% if user.isEnabled %}
        <a href="{{path('backoffice_user_enabled',{'id':user.id,'enabled':0})}}" class="btn btn-success btn-flat"  data-toggle="tooltip" data-placement="top" title="zablokuj"> <i class="fa fa-plus"></i></a>
    {% else %}
        <a href="{{path('backoffice_user_enabled',{'id':user.id,'enabled':1})}}" class="btn btn-danger btn-flat"  data-toggle="tooltip" data-placement="top" title="odblokuj"> <i class="fa fa-minus"></i></a>
    {% endif %}
    <a href="{{path('backoffice_user_change_password',{'id':user.id})}}" class="btn btn-default btn-flat"  data-toggle="tooltip" data-placement="top" title="zmień hasło"> <i class="fa fa-key"></i></a>
    {% if user.roles[0] =='ROLE_AGENT' %}
        {% if user.isOfficeManager %}
            <a href="{{path('backoffice_user_enable_office_management',{'id':user.id,'enabled':0})}}" class="btn btn-success btn-flat"  data-toggle="tooltip" data-placement="top" title="zablokuj dostęp do edycji"> <i class="fa fa-unlock"></i></a>
        {% else %}
            <a href="{{path('backoffice_user_enable_office_management',{'id':user.id,'enabled':1})}}" class="btn btn-danger btn-flat"  data-toggle="tooltip" data-placement="top" title="odblokuj dostęp do edycji"> <i class="fa fa-lock"></i></a>
        {% endif %}
    {% endif %}
    <a href="{{path('backoffice_user_edit',{'id':user.id})}}" class="btn btn-primary btn-flat"  data-toggle="tooltip" data-placement="top" title="edycja"> <i class="fa fa-edit"></i></a>
    <a href="#" data-href="{{path('backoffice_user_delete',{'id':user.id})}}"  data-toggle="tooltip" data-placement="top" title="Usuń" class="btn btn-danger btn-flat" data-show-modal="delete"> <i class="fa fa-trash-o"></i></a>
{% endif %}
