<div style="width:100%;text-align:center;">
    <div style="width:525px;display: inline-block;">
        <a href="{{ app.request.getSchemeAndHttpHost() }}{{path('app_front_page_homepage')}}" title="WGN"><img src="{{ app.request.getSchemeAndHttpHost() }}{{asset('/front-layout/gfx/logo-md.jpg')}}" alt="wgn" style="width: 165px;" /></a>
        <div style="background: #b5e51d;width:100%;padding: 10px 15px;font-size: 14px;color:#000;text-align:left;">
            <p>Potwierdzenie aktywacji newslettera</p>
        </div>
        <h3 style="text-align:left;">Dzień Dobry</h3>
        <p style="text-align:left;">Aby dodać adres email do newslettera należy kliknąć w <a href="{{ app.request.getSchemeAndHttpHost() }}{{path('frontend_newsletter_confirm',{'code':code})}}" title="Potwierdź">ten link</a></p>
        <p style="text-align:left;">Jeśli nie zapisywałeś się do newslettera zignoruj tą wiadomość.</p>
        <p style="text-align:left;">Dziękujemy za skorzystanie z naszych usług i życzymy powodzenia</p>
        <p style="text-align:left;">Zespół WGN.pl</p>
    </div>
</div>
