{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
        Zmiana Ustawień Ogłoszenia
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Ogłoszenia</li>
      </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <form method="POST" action="" novalidate enctype="multipart/form-data">
          <!-- general form elements -->
                <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Ustawienia</h2>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Publikuj na</label>
                                    {{form_widget(form.days)}}
                                    {{form_errors(form.days)}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Oferta Promowana</label>
                                    {{form_widget(form.isPromo)}}
                                    {{form_errors(form.isPromo)}}
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Promuj na</label>
                                    {{form_widget(form.promoDays)}}
                                    {{form_errors(form.promoDays)}}
                                </div>
                            </div>
                        </div>
                        {{form_rest(form)}}
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
              </div>
          </div>
          <!-- /.box -->
        </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script type="text/javascript">
        $('form').validate();
    </script>
{% endblock %}