{% extends "AppBackOfficeBundle:_Partials:iframeLayout.html.twig" %}
{% block body %}
    <section class="content">
        <div class="row">
            {% include 'AppBackOfficeBundle:_Partials:flashMessage.html.twig' %}
            <form role="search" action="" method="GET" novalidate>
            <div class="col-md-12 filters">
                    <div class="form-group col-xs-3 no-padding-left">
                        <label>Status</label>
                        {{form_widget(form.isPublish)}}
                    </div>
                    <div class="form-group col-xs-3 no-padding-left">
                        <label>Typ transakcji</label>
                        {{form_widget(form.transactionType)}}
                    </div>
                    <div class="form-group col-xs-3 no-padding-left">
                        <label>Kategoria</label>
                        {{form_widget(form.category)}}
                    </div>
                    <div class="form-group col-xs-3">
                        <label>Sygnatura</label>
                        {{form_widget(form.signature)}}
                    </div>
                    <div class="form-group col-xs-3 no-padding-left">
                        <label>Imię i nazwisko</label>
                        {{form_widget(form.name)}}
                    </div>
                    <div class="form-group col-xs-3 buttons">
                        <button type="submit" class="btn btn-success">Szukaj</button>
                        <a href="{{path(app.request.get('_route'))}}" class="btn btn-default" title="Wyczyść">Wyczyść</a>
                    </div>
            </div>
            </form>
        </div>
        <div class="row">
            <!-- /.box-header -->
            <div class="col-md-12">
              <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="130">Zdjęcie</th>
                            <th width="350" {% if pagination.isSorted('o.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nazwa', 'o.name') }}</th>
                            <th width="140" {% if pagination.isSorted('t.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Typ Transakcji', 't.id') }}</th>
                            <th width="140" {% if pagination.isSorted('c.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Kategoria', 'c.id') }}</th>
                            <th width="150" {% if pagination.isSorted('o.signature') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Sygnatura', 'o.signature') }}</th>
                            <th width="150" {% if pagination.isSorted('o.contactPerson') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Osoba Kontaktowa', 'o.contactPerson') }}</th>
                            <th width="100" {% if pagination.isSorted(['o.isPromo','o.promoExpire']) %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Promowane', ['o.isPromo','o.promoExpire']) }}</th>
                            <th width="100" {% if pagination.isSorted(['o.isPublish','o.expireDate']) %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status', ['o.isPublish','o.expireDate']) }}</th>
                            <th width="110" {% if pagination.isSorted('o.createDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Data Dodania', 'o.createDate') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in pagination %}
                        <tr class="odd gradeX">
                            <td>{% if offer.mainPhoto is not null %}<img src="{{('/uploads/offers/'~offer.id~'/'~offer.mainPhoto) |imagine_filter('offer_thumbnails') }}" alt="{{offer.name}}"/>{% endif %}</td>
                            <td><a href="#" data-action="selectOffer" data-signature="{{offer.signature}}" title="{{offer.name}}">{{offer.name}}</a></td>
                            <td>{{offer.transactionType}}</td>
                            <td>{{offer.category}}</td>
                            <td>{{offer.signature}}</td>
                            <td>{{offer.contactPerson}}</td>
                            <td>{% if offer.isPromo and date(offer.promoExpire) > date()%}TAK{% else %}NIE{% endif %}</td>
                            <td>{% if offer.isPublish and date(offer.expireDate) > date()%}Aktywne{% else %}Nieaktywne{% endif %}</td>
                            <td>{{offer.createDate | date('d.m.Y')}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            {{ knp_pagination_render(pagination) }}
            </div>

        </div>
    </section>
{% endblock body %}
{% block javascripts %}
    <script>

    $('a[data-show-modal="delete"]').on('click',function(){
        $('#confirm-delete').find('.danger').attr('href', $(this).data('href'));
        $('#confirm-delete').modal();
    });
    $('a[data-show-modal="selectCategory"]').on('click',function(){
        $('#select-category').modal();
    });

    $('a[data-action="selectOffer"]').on('click',function(){
        parent.$('#modal-offers-list').modal('hide');
        parent.$('#ad_offer').val($(this).attr('data-signature'));
    });
    </script>
{% endblock %}
