<div class="row">
    <div class="col-md-12 subscription-details">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Ilość ogłoszeń</th>
                    <th>Ilość wykorzystanych</th>
                    <th>data utworzenia</th>
                    <th>data ważności</th>
                    <th>cena</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{% if subscription.numberOfAvailable > 0 %}{{subscription.numberOfAvailable}}{% else %}bez limitu{% endif %}</td>
                    <td>{{subscription.numberOfUsed}}</td>
                    <td>{{subscription.createDate | date('d.m.Y')}}</td>
                    <td>{{subscription.expireDate | date('d.m.Y')}}</td>
                    <td>{{subscription.netPrice}} zł netto ({{subscription.netPrice*(1+ (subscription.tax/100))}} zł brutto)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
