<h3>Witaj,</h3>
<p>Ze strony wgn.pl zostało wysłane zgłoszenie poszukiwania nieruchomości.Poniżej dane zgoszenia:<p>
<table>
    <tr>
        <td>Cel</td>
        <td>{{data.transaction}}</td>
    </tr>
    <tr>
        <td>Kategoria</td>
        <td>{{data.category}}</td>
    </tr>
    <tr>
        <td>Typ</td>
        <td>{% if data.type is not null %}{{data.type}}{% else %} dowolny {% endif %}</td>
    </tr>
    <tr>
        <td>Adres:</td>
        <td>{{data.country}},{{data.province}},{{data.city}}</td>
    </tr>
    <tr>
        <td>Metraż:</td>
        <td>{{data.squereFrom}} - {{data.squereTo}}m&sup2;</td>
    </tr>
    <tr>
        <td>Pokoi:</td>
        <td>{{data.roomsFrom}} - {{data.roomsTo}}</td>
    </tr>
    <tr>
        <td>Piętro:</td>
        <td>{{data.floorFrom}} - {{data.floorTo}}</td>
    </tr>
    <tr>
        <td>Cena:</td>
        <td>{{data.priceFrom}} - {{data.priceTo}}</td>
    </tr>
    <tr>
        <td>Twój e-mail:</td>
        <td>{{data.email}}</td>
    </tr>
    <tr>
        <td>Imię i nazwisko:</td>
        <td>{{data.name}}</td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td>{{data.phone}}</td>
    </tr>
    <tr>
        <td>Adres:</td>
        <td>{{data.personCountry}} {{data.personCity}} {{data.personStreet}}</td>
    </tr>
    <tr>
        <td>Wiadomość:</td>
        <td>{{data.message}}</td>
    </tr>
</table>
