<div style="width:100%;text-align:center;">
    <div style="width:525px;display: inline-block;">
        <a href="{{ app.request.getSchemeAndHttpHost() }}{{path('app_front_page_homepage')}}" title="WGN"><img src="{{ app.request.getSchemeAndHttpHost() }}{{asset('/front-layout/gfx/logo-md.jpg')}}" alt="wgn" style="width: 165px;"/></a>
        <div style="background: #b5e51d;width:100%;padding: 10px 15px;font-size: 14px;color:#000;text-align:left;">
            <p>Dodano nowe ogłoszenie [{{ payment.offer.id }}]</p>
        </div>
        <h3 style="text-align:center;">Została złożona nowa oferta!</h3>
        <p style="text-align:center;">Ogłoszenie <strong>{{ payment.offer.name }}</strong> zostało dodane</p>
        <br/>
        <div>
            <p style="text-align:left;"><strong>Dane osobowe:</strong></p><hr/>
            <p style="text-align:left;">Imię i nazwisko: {{ payment.firstName }} {{ payment.lastName }}</p>
            <p style="text-align:left;">Adres: {{ payment.address }} {{ payment.zipCode }}</p>
            <p style="text-align:left;">Telefon: {{ payment.phone }}</p>
            <p style="text-align:left;">Osobowość prawna: {{ payment.legalPersonality=="company" ? "Firma" : "Osoba fizyczna" }}</p>
            {% if payment.legalPersonality=="company" %}
                <p style="text-align:left;">NIP: {{ payment.NIP }}</p>
                <p style="text-align:left;">Czy podmiot jest płatnikiem VAT? {{ payment.VAT ? "Tak" : "Nie" }}</p>
            {% endif %}
            <hr/>
        </div>
        <br/>
        <br/>
        <p style="text-align:center; font-weight: bold">WGN</p>
    </div>
</div>