<div style="width:100%;text-align:center;">
    <div style="width:525px;display: inline-block;">
        <a href="{{ app.request.getSchemeAndHttpHost() }}{{path('app_front_page_homepage')}}" title="WGN"><img src="{{ app.request.getSchemeAndHttpHost() }}{{asset('/front-layout/gfx/logo-md.jpg')}}" alt="wgn" style="width: 165px;"/></a>
        <div style="background: #b5e51d;width:100%;padding: 10px 15px;font-size: 14px;color:#000;text-align:left;">
            <p>Potwierdzenie aktywacji ogłoszenia</p>
        </div>
        <h3 style="text-align:left;">Dzień Dobry</h3>
        <p style="text-align:left;">Twoje ogłoszenie <strong>{{offer.name}}({{offer.signature}})</strong> zostało pomyślnie aktywowane</p>
        <p style="text-align:left;">Zarejestruj się aby zarządzać ogłoszeniem w <a href="" title="Przejdz do panelu">panelu</a></p>
        <p style="margin:0;text-align:left;"><a href="{{ app.request.getSchemeAndHttpHost() }}{{path('frontend_offer_show',{id:offer.id,offerName:offer.name | prepareUrl})}}" title="Podgląd Ogłoszenia">Podgląd Ogłoszenia</a></p>
        <p style="margin:0;text-align:left;"><a href="{{ app.request.getSchemeAndHttpHost() }}{{path('user_account')}}" title="Edycja Ogłoszenia">Edycja Ogłoszenia</a></p>
        <p style="margin:0;text-align:left;"><a href="{{ app.request.getSchemeAndHttpHost() }}{{path('user_account')}}" title="Usuń Ogłoszenie">Usuń Ogłoszenie</a></p>
        <p style="text-align:left;">Dziękujemy za skorzystanie z naszych usług i życzymy powodzenia</p>
        <p style="text-align:left;">Zespół WGN.pl</p>
    </div>
</div>
