    <div class="col-md-12" id="company-data">
        <h2><img src="{{asset('front-layout/gfx/logo-sm.png')}}" class="img-responsive" alt="centrala wgn" /> Centrala WGN</h2>
        <p>{{getSettings('companyCountry')}}, {{getSettings('companyZipCode')}} {{getSettings('companyCity')}}, ul. {{getSettings('companyStreet')}} </p>
        <p>tel./fax {{getSettings('companyPhone')}}</p>
        <p>e-mail: <a href="mailto:{{getSettings('companyEmail')}}" title="{{getSettings('companyEmail')}}">{{getSettings('companyEmail')}}</a></p>
    </div>
    <div class="col-md-12 offices-box" id="offices">
        <h3>Biura WGN w Polsce</h3>
        <h2><img src="{{asset('front-layout/gfx/logo-sm.png')}}" class="img-responsive" alt="nieruchomości wgn" /><span>Nieruchomości</span></h2>
        {{officesList()}}
    </div>
    <div class="col-md-12 offices-box" id="offices-2">
        <h3>Biura WGN w Hiszpanii</h3>
        <h2><img src="{{asset('front-layout/gfx/logo-sm.png')}}" class="img-responsive" alt="nieruchomości wgn" /><span>Nieruchomości</span></h2>
        {{officesList('es')}}
        <h3><a href="http://www.realtyexecutives.com/" target="blank" title="Partner WGN w USA">Partner WGN w USA</a></h3>
    </div>
    <div class="col-md-12 offices-box" id="offer">
        <h3>Oferta Deweloperów WGN</h3>
        <h2><img src="{{asset('front-layout/gfx/logo-sm.png')}}" class="img-responsive" alt="DEVELOPMENT WGN" /><span>DEVELOPMENT</span></h2>
        {{developmentOfficesList()}}
    </div>

    <div class="col-md-12 offices-box" id="offer">
        <h3>Oferta Kredytowa WGN</h3>
        <h2><img src="{{asset('front-layout/gfx/logo-sm.png')}}" class="img-responsive" alt="kredyty wgn" /><span>Kredyty</span></h2>
        <a href="http://wgnkredyty.com/lista-biur-wgn-kredyty/" target="_blank" style="margin-bottom: 10px;display: block;">Sprawdź Biura WGN KREDYTY</a>
    </div>
