<div class="container hidden-print hidden-xs hidden-sm">
    <nav class="navbar navbar-default bg-green">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span>Menu</span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if app.request.attributes.get('_route') == 'app_archiv_homepage' %}
                <a href="{{ path('app_front_page_homepage') }}">
                    <img id="wgnlogo009arh"  src="{{ ('/front-layout/gfx/grupa_wgn_logo.png') }}" alt="Archiwalne oferty WGN – mieszkania i nieruchomości na sprzedaż" class="logo"/>
                </a>
            {% else %}
                <a href="{{ path('app_main_frontpage') }}">
                    <img id="wgnlogo009" src="{{ ('/front-layout/gfx/grupa_wgn_logo.png') }}" alt="wgn" class="logo"/>
                </a>
            {% endif %}
            {{menu('top_menu',{'class':'nav navbar-nav'})}}
            <ul class="nav navbar-nav navbar-right" id="zgloskupno009">
                <li><a href="#" id="add-offer" class="" title="ZGŁOŚ KUPNO - SPRZEDAŻ1">ZGŁOŚ KUPNO - SPRZEDAŻ</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </nav>
</div>

{# Include the popup template #}
{% include 'AppFrontPageBundle:_Partials:popup.html.twig' %}