<div class="similar-offers hidden-print">
    <h3>{{ province|capitalize }} - aktualne oferty</h3>
    <div class="row">
        {% for item in offers %}
            <div class="col-md-4 col-xs-12 col-sm-6 item">
                <div class="border-bottom">
                    <a href="{{offerUrl(item)}}" title="{{item.name}}">
                        <div class="main-photo">
                            {% if item.mainPhoto is not null %}
                                <img src="{{('/uploads/offers/'~item.id~'/'~item.mainPhoto) |imagine_filter('offer_thumbnails') }}" alt="{{item.name}}"/>
                            {% endif %}
                        </div>
                        <div class="data">
                            <h4>{{item.name |  truncate(50, true,'')}}</h4>
                            <h5>{{item.city}} {{item.street | slice(0,18)}}</h5>
                            <p class="pull-left">{{item.squere}} m&sup2;</p>
                            <p class="pull-right">{{item.price| number_format(0, ',', ' ')}} {% if item.currency.symbol is defined  %}{{item.currency.symbol}}{% endif %}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>