{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
        Lista Faktur
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Lista Faktur</li>
      </ol>
    </section>
    <section class="content payments">
        <div class="row">
            {% include 'AppBackOfficeBundle:_Partials:flashMessage.html.twig' %}
            <div class="col-md-12">
            <div class="box">
            <div class="box-header with-border">
                <div class="col-md-12 filters no-padding-left">
                    <form role="search" action="" method="GET" novalidate>
                        <div class="form-group col-xs-2">
                            <label>Typ</label>
                            {{form_widget(form.type)}}
                        </div>
                        <div class="form-group col-xs-2">
                            <label>NIP</label>
                            {{form_widget(form.nip)}}
                        </div>
                        <div class="form-group col-xs-2">
                            <label>Data od</label>
                            {{form_widget(form.dateFrom)}}
                        </div>
                        <div class="form-group col-xs-2">
                            <label>Data do</label>
                            {{form_widget(form.dateTo)}}
                        </div>
                        <div class="form-group col-xs-4 buttons">
                            <button type="submit" class="btn btn-success">Szukaj</button>
                            <a href="{{path(app.request.get('_route'))}}" class="btn btn-default" title="Wyczyść">Wyczyść</a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th width="150" {% if pagination.isSorted('i.number') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nr faktury', 'i.number') }}</th>
                            <th width="150" {% if pagination.isSorted('i.saleDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Data sprzedaży', 'i.saleDate') }}</th>
                            <th width="150" {% if pagination.isSorted('i.numberType') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Typ', 'i.numberType') }}</th>
                            <th width="100" {% if pagination.isSorted('i.grossValue') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Kwota Brutto', 'i.grossValue') }}</th>
                            <th width="200" {% if pagination.isSorted('i.clientNip') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nip','i.clientNip') }}</th>
                            <th {% if pagination.isSorted('i.clientCompanyName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nazwa Firmy', 'i.clientCompanyName') }}</th>
                            <th width="300">Opcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in pagination %}
                        <tr class="odd gradeX">
                            <td>{{invoice.number}}</td>
                            <td>{{invoice.saleDate | date('d.m.Y')}}</td>
                            <td>{{invoice.numberType}}</td>
                            <td>{{invoice.grossValue}} zł</td>
                            <td>{{invoice.clientNip}}</td>
                            <td>{{invoice.clientCompanyName}}</td>
                            <td>
                                <a href="{{path('backoffice_invoice_details',{'id':invoice.id})}}" class="btn btn-default btn-flat" data-toggle="tooltip" data-placement="top" title="Pobierz PDF" target="blank"><i class="fa fa-file-pdf-o"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            {{ knp_pagination_render(pagination) }}
            </div>
          </div>
            </div>
                <!-- /.col-lg-12 -->
        </div>
    </section>
{% include 'AppPaymentBundle:_Partials:modalPaymentDetails.html.twig' %}
{% include 'AppBackOfficeBundle:_Partials:modalDelete.html.twig' %}
{% endblock body %}
{% block stylesheet %}
    <link href="{{asset('admin-layout/plugins/datepicker/datepicker3.css')}}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{asset('admin-layout/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
    <script src="{{asset('admin-layout/plugins/datepicker/locales/pl.min.js')}}"></script>
    <script>
     $('#search_dateFrom').datepicker({format: 'yyyy-mm-dd',language:'pl'});
     $('#search_dateTo').datepicker({format: 'yyyy-mm-dd',language:'pl'});
     var paymentDetailsUrl = '{{path('frontpage_payment_details')}}';
    $('.payments a[data-payment-id]').on('click',function(e){
    e.preventDefault();
    $('#modal-payment-details').find('.modal-body').html('');
    $.ajax({
        method:'POST',
        url:paymentDetailsUrl,
        beforeSend:function(){
            $('#modal-payment-details').find('.modal-body').html('<div class="loader"><i class="fa fa-spinner fa-spin fa-2x"></i></div>');
        },
        data:{id:$(this).attr('data-payment-id')}
    }).done(function(data){
        $('#modal-payment-details').find('.modal-body').html(data);
    });
    $('#modal-payment-details').modal();
});
    </script>
{% endblock %}

