{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
        {% include 'AppArticleBundle:_Partials:leftColumn.html.twig' %}
        <div class="col-md-8">
            <div class="row additional-services">

                {% for type in types %}
                    <div class="offices-box">
                        {% if loop.first %}<h1>Dodatkowe usługi WGN</h1>{% endif %}
                        <h2><img src="/front-layout/gfx/logo-sm.png" class="img-responsive"><span>{{type.name}}</span></h2>
                        <ul>
                            {% for office in type.office %}
                                <li><a href="{{office.url}}" title="{{office.name}},  {{office.street}}"><strong>{{office.name}}</strong>, {{office.street}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
