{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
        Nowy Baner
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#" title="Reklama">Reklama</a></li>
        <li class="active">Banery</li>
      </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <form method="POST" action="" novalidate enctype="multipart/form-data">
          <!-- general form elements -->
                <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Zawartość</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                    <div class="form-group">
                        <label>Nazwa</label>
                        {{form_widget(form.name,{'attr':{'data-validator':'required'}})}}
                    </div>
                    <div class="form-group">
                        <label>Kod Html</label>
                        {{form_widget(form.code)}}
                    </div>
                    <div class="form-group">
                        <label>Plik</label>
                        {{form_widget(form.adFile)}}
                    </div>
                    <div class="form-group">
                        <label>Plik (urządzenia mobilne)</label>
                        {{form_widget(form.adMobileFile)}}
                    </div>
                    <div class="form-group">
                        <label>Adres Url</label>
                        {{form_widget(form.url)}}
                    </div>
                    {% if ad.office is null %}
                    <div class="form-group">
                        <label>Powiązana oferta</label>
                        {{form_widget(form.offer)}}
                    </div>
                    {% endif %}
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Zapisz</button>
              </div>
          </div>
          <!-- /.box -->
        </div>
            </div>
            <div class="col-md-4">
          <!-- general form elements -->
                <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Parametry</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                    <div class="form-group">
                        <label>Pozycja</label>
                        {{form_widget(form.position)}}
                    </div>
                    <div class="form-group">
                        <label>Limit Kliknięć</label>
                        {{form_widget(form.clickLimit,{'attr':{'data-validator':'required'}})}}
                    </div>
                    <div class="form-group">
                        <label>Limit Wyświetleń</label>
                        {{form_widget(form.displayLimit,{'attr':{'data-validator':'required'}})}}
                    </div>
                    <div class="form-group">
                        <label>Szerokość (podajemy tylko dla banerów flash)</label>
                        {{form_widget(form.weight,{'attr':{'data-validator':'required'}})}}
                    </div>
                    <div class="form-group">
                        <label>Wysokość (podajemy tylko dla banerów flash)</label>
                        {{form_widget(form.height,{'attr':{'data-validator':'required'}})}}
                    </div>
                    <div class="form-group">
                        <label>Wyświetlaj od</label>
                        {{form_widget(form.startDate,{'attr':{'data-validator':'required'}})}}
                    </div>
                    <div class="form-group">
                        <label>Wyświetlaj do</label>
                        {{form_widget(form.endDate,{'attr':{'data-validator':'required'}})}}
                    </div>
                    <div class="form-group">
                        <label>Opublikowany</label>
                        {{form_widget(form.isPublish)}}
                    </div>
                    {{form_rest(form)}}
              <!-- /.box-body -->
            </form>
          </div>
          <!-- /.box -->
        </div>
            </div>
        </div>
    </section>
    {% include 'AppAdBundle:_Partials:modalList.html.twig' %}
{% endblock body %}
{% block stylesheet %}{% endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
    <script src="{{asset('admin-layout/plugins/timepicker/bootstrap-timepicker.min.js')}}"></script>
    <script src="{{asset('admin-layout/plugins/datepicker/locales/pl.min.js')}}"></script>
    <script src="{{asset('admin-layout/plugins/tags/js/tag-it.min.js')}}" type="text/javascript" charset="utf-8"></script>
    <script>
        $('#ad_startDate_date').datepicker({format: 'yyyy-mm-dd',language:'pl'});
        $('#ad_endDate_date').datepicker({format: 'yyyy-mm-dd',language:'pl'});
        $('#ad_startDate_time').timepicker({
                showSeconds: false,
                showMeridian: false,
                showInputs: false,
            });
        $('#ad_endDate_time').timepicker({
                showSeconds: false,
                showMeridian: false,
                showInputs: false,
            });
        $('#ad_offer').on('focus',function(){
            $('#modal-offers-list').modal();
        });
        $('form').validate();
   </script>
{% endblock %}