{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
        Lista Reklam
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="#" title="Cms">Cms</a></li>
        <li class="active">Lista Reklam</li>
      </ol>
    </section>
    <section class="content">
        <div class="row">
            {% include 'AppBackOfficeBundle:_Partials:flashMessage.html.twig' %}
            <div class="col-md-12">
            <div class="box">
            <div class="box-header with-border">
              <form class="navbar-form navbar-left" role="search" method="GET">
                  <div class="form-group">
                    <h3 class="box-title pull-left">Kategoria </h3>
                  </div>
                  <div class="form-group">
                      {% if app.request.query.has('idOffice') %}
                      <input type="hidden" name="idOffice" value="{{app.request.query.get('idOffice')}}"/>
                      {% endif %}
                      <select name="idPosition" class="form-control">
                            {% for position in positions %}
                                <option value="{{position.id}}" {% if app.request.get('idPosition') == position.id %}selected="selected"{% elseif app.request.get('idPosition') is null and position.id ==1 %} selected="selected" {% endif %}>{{position.name}}</option>
                            {% endfor %}
                      </select>
                  </div>
              </form>
              <h3 class="box-title pull-right">
                  <a href="
                     {% if app.request.query.has('idOffice') %}
                         {{domain}}{{path('backoffice_ad_add',{'idOffice': app.request.query.get('idOffice'),'idPosition':idPosition})}}
                     {% else %}
                         {{path('backoffice_ad_add',{'idPosition':idPosition})}}{% endif %}" class="btn btn-success btn-flat"  title="Dodaj Baner"><i class="fa fa-plus"></i> Dodaj Baner</a></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body scroll">
              <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th width="150">Kategoria</th>
                            <th width="150">Zdjęcie Oferty</th>
                             <th width="150">Sygnatura Oferty</th>
                            <th width="100">Wyświetlenia</th>
                            <th width="100">Kliknięcia</th>
                            <th width="100">Limit Wyświetleń</th>
                            <th width="100">Limit Kliknięć</th>
                            <th width="100">Wyświetlaj od</th>
                            <th width="100">Wyświetlaj do</th>
                            <th width="150">Kolejność</th>
                            <th width="250">Opcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ad in ads %}

                        <tr class="odd gradeX">
                            <td>{% if ad.isActive %}<strong>{% endif %}{{ad.name}} {% if ad.isActive %}</strong>{% endif %}</td>
                            <td>{{ad.position.name}}</td>
                            <td>{% if ad.offer is not null %}<img src="{{('/uploads/offers/'~ad.offer.id~'/'~ad.offer.mainPhoto) |imagine_filter('offer_thumbnails') }}" alt="{{ad.offer.name}}"/>{% endif %}</td>
                            <td>{% if ad.offer is not null %}{{ad.offer.signature}}{% endif %}</td>
                            <td>{{ad.hits}}</td>
                            <td>{{ad.clicks}}</td>
                            <td>{{ad.displayLimit}}</td>
                            <td>{{ad.clickLimit}}</td>
                            <td>{{ad.startDate | date('d.m.Y')}}</td>
                            <td>{{ad.endDate| date('d.m.Y')}}</td>
                            <td>
                                {%if loop.first and loop.last %}
                                    &nbsp;
                                {%elseif loop.first %}
                                    <a href="#" class="btn btn-default btn-flat disabled" title="do góry"> <i class="fa fa-arrow-up"></i></a>
                                    <a href="{{path('backoffice_ad_change_order',{'id':ad.id,'direction':'down'})}}"  title="na dół" class="btn btn-primary btn-flat"> <i class="fa fa-arrow-down"></i></a>
                                {% elseif loop.last %}
                                    <a href="{{path('backoffice_ad_change_order',{'id':ad.id,'direction':'up'})}}" class="btn btn-primary btn-flat" title="do góry"> <i class="fa fa-arrow-up"></i></a>
                                    <a href="#" class="btn btn-default btn-flat disabled"> <i class="fa fa-arrow-down"></i></a>
                                {% else %}
                                    <a href="{{path('backoffice_ad_change_order',{'id':ad.id,'direction':'up'})}}" class="btn btn-primary btn-flat"  title="do góry"> <i class="fa fa-arrow-up"></i></a>
                                    <a href="{{path('backoffice_ad_change_order',{'id':ad.id,'direction':'down'})}}" class="btn btn-primary btn-flat" title="na dół"> <i class="fa fa-arrow-down"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{path('backoffice_ad_edit',{'id':ad.id})}}" class="btn btn-primary btn-flat"  data-toggle="tooltip" data-placement="top" title="edycja"> <i class="fa fa-edit"></i></a>
                                <a href="#" data-href="{{path('backoffice_ad_delete',{'id':ad.id})}}"  data-toggle="tooltip" data-placement="top" title="Usuń" class="btn btn-danger btn-flat" data-show-modal="delete"> <i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
            {{ knp_pagination_render(ads) }}
            </div>
          </div>
            </div>
                <!-- /.col-lg-12 -->
        </div>
    </section>
{% include 'AppBackOfficeBundle:_Partials:modalDelete.html.twig' %}
{% endblock body %}
{% block javascripts %}
    <script>

    $('a[data-show-modal="delete"]').on('click',function(){
        $('#confirm-delete').find('.danger').attr('href', $(this).data('href'));
        $('#confirm-delete').modal();
    });
    $('select[name="idPosition"]').on('change',function(){
        $(this).closest('form').submit();
    });
    </script>
{% endblock %}
