{% extends "AppFrontPageBundle:_Partials:layout.html.twig" %}
{% block body %}
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1>{{listOffersTitle()}} {% if app.request.query.get('page') > 1 %} - strona {{ app.request.query.get('page') }}{% endif %}</h1>
    </div>
    </div>
<div class="pagination-container">
    {% include 'AppOfferBundle:_Partials:pagination.html.twig' %}
    <p class="pagination-count">{{paginator.totalCount}} ofert</p>

    <div class="col-md-3 hidden-sm hidden-xs" style="float: right;">
        <div id="google-translate">
            <span class="pull-left">Read in 65 languages&nbsp;&nbsp;</span>
            <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'pl', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
            </script>
            <script type="text/javascript" async src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        </div>
    </div>

    <div class="view-options">
        {% include 'AppOfferBundle:_Partials:orderListFilter.html.twig' %}
    </div>
</div>

<div class="offers-list">
    <div class="col-xs-12 col-sm-12 col-md-9 no-padding">
        {#
        <div class="pagination-container">
            <p class="pagination-count">{{paginator.totalCount}} ofert</p>
        </div>

        <div class="view-options">
            {% include 'AppOfferBundle:_Partials:orderListFilter.html.twig' %}
        </div>
        #}

        {% if paginator.totalCount == 0 %}
            <div class="no-results"><h1>Brak wyników</h1></div>
        {% endif %}
        <div class="clearfix"></div>
        <div class="items-box">
            <div id="arrow" class="hidden"></div>
            <div id="item-gallery" class="hidden"></div>
            {% set promo = false %}
{#            {% set avgPriceForM2 = avgPricem2(query) %}#}
{#            {{ knp_pagination_sortable(paginator, 'isExclusive', 'offer.isExclusive') }}#}
            {% for item in paginator.items %}
                {% include 'AppOfferBundle:_Partials:offerListItem.html.twig' %}
                {% if item.isExclusive %}{{ isExclusive('none', 'mobile') }}{% endif %}
            {% endfor %}
        </div>
                    <div class="view-options bottom">
                        {% include 'AppOfferBundle:_Partials:pagination.html.twig' %}
                    </div>

                    <div class="bottom-tools">
                        <a href="#" id="mark" title="pokaż zaznaczone">
                            <img src="{{asset('front-layout/gfx/icons/mark.jpg')}}" alt="pokaż zaznaczone" class="img-resposive"/>
                            <span>Pokaż oznaczone</span>
                        </a>
                        <a href="#" id="print" title="drukuj">
                            <img src="{{asset('front-layout/gfx/icons/print3.jpg')}}" alt="drukuj" class="img-resposive"/>
                            <span>Drukuj</span>
                        </a>
                        <a href="#" id="unmark" title="wyczyść zaznaczone">
                            <img src="{{asset('front-layout/gfx/icons/unmark.jpg')}}" alt="wyczyść zaznaczone" class="img-resposive"/>
                            <span>Wyczyść zaznaczone</span>
                        </a>
                        <a href="#" id="sbuse" data-action="adminContact" title="zgłoś nadużycie">
                            <img src="{{asset('front-layout/gfx/icons/abuse.jpg')}}" alt="zgłoś nadużycie" class="img-resposive"/>
                            <span>Zgłoś nadużycie</span>
                        </a>
                    </div>
                </div>
    <div class="col-xs-12 col-sm-12 col-md-3 right-column">
                    {% if paginator.totalCount > 0 %}
                        <div class="results-newsletter">
                            <h2>Szukasz nieruchomości w tej okolicy?</h2>
                            <p>Zapisz się na powiadomienia spełniające Twoje kryteria</p>
                            <img src="{{asset('front-layout/gfx/icons/send.png')}}" alt="wgn" class="img-responsive"/>
                            <form method="POST" action="#" id="results-notification">
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control" data-validator="required,email" placeholder="twój@email.pl"/>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Zapisz się</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    {{contentBloks('offer_list_right')}}
                    {% if searchParams['category'] is defined %}
                        {{ blogArticlesBox() }}
                    {% endif %}
                </div>
            </div>
        {%  if location is not null %}
            {% set reverseCategoryUrl = reverseCategoryUrl() %}
        {% endif %}

            <div class="col-md-12 search-list">
                {% if app.request.attributes.get('_route') == 'frontend_offer_search_subdomain' %}
                    {{searchLinksBox(searchParams)}}
                {% else %}
                    {{searchLinksBox()}}
                {% endif %}
            </div>

            {% if app.request.query.get('page',1) == 1 %}
                <div class="col-xs-12 col-sm-12 col-md-12 no-padding">
                    {{offersListDescription()}}
                </div>
            {% endif %}
            {% include 'AppUserBundle:_Partials:modalAdminContact.html.twig' %}

{% endblock %}
{% block additionalMeta %}
    {% if paginator.totalCount == 0 %}
        <meta name="robots" content="NOINDEX,FOLLOW"/>
    {% elseif query.search | length > 0 %}
        <meta name="robots" content="NOINDEX,FOLLOW"/>
    {% endif %}
{% endblock %}

{% set page = '' %}
{% if app.request.query.get('page') > 1 %}
    {% set page = '- strona' ~ app.request.query.get('page') %}
{% endif %}
{%block pageTitle %}{{listOffersTitle(' |+60 000 Ofert w WGN!')}} {{ page }}{% endblock %}
{%block ogTitle %}{{listOffersTitle(' |+60 000 Ofert w WGN!')}} {{ page }}{% endblock %}
{%block twitterTitle %}{{listOffersTitle(' |+60 000 Ofert w WGN!')}} {{ page }}{% endblock %}

{%block metaDescription%}
{% if app.request.attributes.get('_route') == 'frontend_offer_list_office' or app.request.attributes.get('_route') == 'frontend_offer_list_agent' %}
{{listOffersTitle(' | WGN')}}{% if app.request.query.get('page') > 1 %} {{ page }}{% endif %} WGN - Na Rynku Od 1991 Roku Wykwalifikowani Agenci ✅ ✅ Nieruchomości Ponad 60 000 Ofert ze Zdjęciami Sprawdź Teraz i Zadzwoń » ✅ ✅
{% else %}
{{offersListMetaDescription()}}
{% endif %}
{% endblock %}
{%block ogDescription %}{% endblock %}
{%block twitterDescription %}{% endblock %}
{% if app.request.query.get('page') %}
       {% set params = {'page':app.request.query.get('page')} | merge(app.request.attributes.get('_route_params')) %}
    {%  else %}
        {% set params = app.request.attributes.get('_route_params') %}
{%  endif %}
{% block canonical %}{{app.request.getSchemeAndHttpHost()}}{{ path(app.request.get('_route'),params )}}{% endblock %}
{% block content_block_top %}{{contentBloks('offer_list_top')}}{%endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.js')}}"></script>
    <script src="{{asset('front-layout/lib/jquery.lazy/jquery.lazy.js')}}"></script>
    <script src="{{asset('front-layout/js/listv4.js')}}"></script>
    <script type="text/javascript">
        var messageUrl = '{{path('frontend_send_abuse_message')}}';
        var resultsNotificationUrl = '{{path('frontend_results_notification')}}';
        var pageUrl = '{{ path(app.request.attributes.get('_route'),app.request.get('_route_params')| merge(app.request.query.all)) | raw}}';
        var imagesUrl = '{{ app.request.getScheme() }}:{{ path('app_main_frontpage') | raw}}';
        console.log('url',imagesUrl);
        $(function() {
            $('.lazy').lazy();
        });
    </script>
    <script>
        var photos = $('.main-photo');
        var itemGallery = $('#item-gallery');
        var arrow = $('#arrow');

        $('.main-photo').mouseenter(function(){
            $(itemGallery).css('top', ($(this).offset().top - 340));
            $(arrow).css('top', ($(this).offset().top - 366));
            $(itemGallery).html('');
            $(itemGallery).removeClass('hidden');
            $(arrow).removeClass('hidden');

            var id = $(this).data('offer-id');

            $.ajax({
                method: "POST",
                url: imagesUrl +"offer/"+id+"/images"
            }).done(function(images){
                $(itemGallery).html('<img id="current-photo" src="'+images[0]['name']+'"/>');
                $(images).each(function(){
                    $(itemGallery).append('<img class="other-photo" src="'+this['name']+'"/>');
                })
            });
        })

        var itemElement = $('div.my-item-list');
        $(itemElement).each(function(i){
            $(this).mouseleave(function(){
            	$(itemGallery).addClass('hidden');
            	$(arrow).addClass('hidden');
            })
        })
        $(itemGallery).mouseenter(function(){
        	let otherPhoto = $('.other-photo');

        	$(itemGallery).removeClass('hidden');
        	$(arrow).removeClass('hidden');

        	$(otherPhoto).each(function(){
        		$(this).click(function(){
        			$(otherPhoto).each(function(){
        				$(this).css('border', "none");
                    })
                    $(this).css('border', "2px solid white");
        			$('#current-photo').attr('src', this.src);
                })
            })
        })
        $(itemGallery).mouseleave(function(){
        	$(this).addClass("hidden");
        	$(arrow).addClass("hidden");
        })
    </script>
{% endblock %}
