<!DOCTYPE pdf>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Faktura {{invoice.number}}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{{asset('admin-layout/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{asset('dist/css/AdminLTE.min.css')}}" rel="stylesheet" type="text/css" />
    <style>
        h3{margin-bottom:20px;}
        p{font-size:11px;}
        .table {font-size:10px;}
    </style>
</head>
<body class="login-page">
<table class="table table-striped">
    <tr>
        <td>
            <img src="{{asset('front-layout/gfx/logo-md.jpg')}}" alt="wgn"/>
            <p style="font-weight: bold;margin-top:20px;">Sprzedawca</p>
            <p>&nbsp;</p>
            <p>{{invoice.companyName}}</p>
            <p>ul.{{invoice.street}}</p>
            <p>ul.{{invoice.zipCode}} {{invoice.city}}</p>
            <p>NIP: {{invoice.nip}}</p>
        </td>
        <td>
            <p style="font-weight: bold;">Faktura {{invoice.number}}</p>
            <p>Data Sprzedaży: {{invoice.saleDate | date('d.m.Y')}}</p>
            <p>&nbsp;</p>
            <p style="font-weight: bold;margin-top:20px;">Nabywca</p>
            <p>{{invoice.clientCompanyName}}</p>
            {% if invoice.clientFirstName !='' and invoice.clientLastName !=''%}
                <p>{{invoice.clientFirstName}} {{invoice.clientLastName}}</p>
            {% endif %}
            {% if invoice.clientStreet !='' %}
            <p>ul.{{invoice.clientStreet}}</p>
            {% endif %}
            {% if invoice.clientCity !='' and invoice.clientZipCode !='' %}
            <p>{{invoice.clientZipCode}} {{invoice.clientCity}}</p>
            {% endif %}
            <p>NIP: {{invoice.clientNip}}</p>
        </td>
    </tr>
</table>
 <p style="font-weight: bold;">Pozycje Faktury</p>
<table style="width:100%;">
    <tr>
        <td style="border-bottom:1px solid #ccc;font-size:12px;">Lp.</td>
        <td style="border-bottom:1px solid #ccc;font-size:12px;">Nazwa Usługi</td>
        <td style="text-align: center;border-bottom:1px solid #ccc;font-size:12px;">Ilość</td>
        <td style="text-align: center;border-bottom:1px solid #ccc;font-size:12px;">Jednostka</td>
        <td style="width:80px;text-align: center;border-bottom:1px solid #ccc;font-size:12px;">Cena jedn. brutto</td>
        <td style="width:80px;text-align: center;border-bottom:1px solid #ccc;font-size:12px;">Wartość brutto</td>
        <td style="width:80px;text-align: center;padding:10px;border-bottom:1px solid #ccc;font-size:12px;">Stawka VAT</td>
    </tr>
    {% for item in invoice.items %}
        <tr>
            <td style="padding:10px;border-bottom:1px solid #ccc;font-size:12px;">{{loop.index}}</td>
            <td style="padding:10px;border-bottom:1px solid #ccc;font-size:12px;">{{item.name}}</td>
            <td style="text-align: center;padding:10px;border-bottom:1px solid #ccc;font-size:12px;">{{item.quantity}}</td>
            <td style="text-align: center;padding:10px;border-bottom:1px solid #ccc;font-size:12px;">usł.</td>
            <td style="text-align: center;padding:10px;border-bottom:1px solid #ccc;font-size:12px;">{{item.grossprice}}</td>
            <td style="text-align: center;padding:10px;border-bottom:1px solid #ccc;font-size:12px;">{{item.grossprice * item.quantity}}</td>
            <td style="text-align: center;padding:10px;border-bottom:1px solid #ccc;font-size:12px;">{{item.tax}}%</td>
        </tr>
     {% endfor %}
</table>
<p>&nbsp;</p>
 <p style="font-weight: bold;">Podsumowanie</p>
 <table style="width:100%;">
     <tr>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;"></td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;width:100px;text-align: center;padding:10px;">Stawka VAT</td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;width:100px;text-align: center;padding:10px;">Wartość netto</td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;width:100px;text-align: center;padding:10px;">VAT</td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;width:100px;text-align: right;padding:10px;">Wartość brutto</td>
     </tr>
     {% for tax in invoice.taxes %}
        <tr>
            <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;"></td>
            <td style="border-bottom:1px solid #ccc;font-size:12px;width:100px;text-align: center;padding:10px;">{{tax.rate}} %</td>
            <td style="border-bottom:1px solid #ccc;font-size:12px;width:100px;text-align: center;padding:10px;">{{tax.value | number_format(2,',',' ')}}</td>
            <td style="border-bottom:1px solid #ccc;font-size:12px;width:100px;text-align: center;padding:10px;">{{(tax.value*(tax.rate/100)) | number_format(2,',',' ')}}</td>
            <td style="border-bottom:1px solid #ccc;font-size:12px;width:120px;text-align: right;padding:10px;">{{(tax.value*((tax.rate/100)+1)) | number_format(2,',',' ')}}</td>
         </tr>
     {% endfor %}
     <tr>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;text-align: right;font-weight: bold;">Razem:</td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;"></td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;text-align: center;font-weight: bold;">{{invoice.netValue | number_format(2,',',' ')}}</td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;text-align: center;font-weight: bold;">{{(invoice.grossValue - invoice.netValue) | number_format(2,',',' ')}}</td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;text-align: right;font-weight: bold;">{{invoice.grossValue | number_format(2,',',' ')}}</td>
     </tr>
     <tr>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;text-align: right;font-weight: bold;">Zapłacono:</td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;"></td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;"></td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;"></td>
         <td style="border-bottom:1px solid #ccc;font-size:12px;padding:10px;text-align: right;">{{invoice.grossValue | number_format(2,',',' ')}}</td>
     </tr>
     <tr>
         <td style="border-bottom:1px solid #ccc;padding:10px;font-size:12px;text-align: right;font-weight: bold;">Pozostało:</td>
         <td style="border-bottom:1px solid #ccc;padding:10px;font-size:12px;text-align: center;"></td>
         <td style="border-bottom:1px solid #ccc;padding:10px;font-size:12px;text-align: center;"></td>
         <td style="border-bottom:1px solid #ccc;padding:10px;font-size:12px;text-align: center;"></td>
         <td style="border-bottom:1px solid #ccc;padding:10px;font-size:12px;text-align: right;">0,00</td>
     </tr>
     <tr>
         <td style="border-bottom:1px solid #ccc;padding:10px;font-size:12px;text-align: right;font-weight: bold;">Słownie:</td>
         <td style="border-bottom:1px solid #ccc;padding:10px;font-size:12px;text-align: center;"></td>
         <td style="border-bottom:1px solid #ccc;padding:10px;font-size:12px;text-align: right;font-weight: bold;" colspan="3">{{amountInWords(invoice.grossValue)}}</td>
     </tr>
 </table>
</body>
</html>
