{% import _self as links %}
{% if items | length > 0 %}
    <ul {% if params.class is defined %} class="{{params.class}}"{%endif %}>
    {{links.menu_links(items)}}
    </ul>
{% endif %}
{% macro menu_links(items) %}
    {% set next = 1 %}
    {% for item in items %}
        <li {% if item.__children | length >0 and item.lvl == 1%}class="dropdown"{% elseif item.__children | length >0 and item.lvl > 1%}class="dropdown-submenu"{% endif %}>
            {% if item.type == 'external' or  item.type == 'empty' or  item.type == 'separator' %}
                {% set url = item.route %}
            {% elseif item.type == 'route' %}
                {% set url = domain ~ path(item.route) %}
            {% else %}
                 {% set url = domain ~ path(item.route,item.routeParameters) %}
            {% endif %}
            <a href="{{url}}" {% if item.__children | length >0 %}data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"{% endif %}  {% if  item.inNewWindow %} target="_blank"{%  endif %} title="{{item.name}}">{{item.name}}</a>
                {% if item.__children | length >0 %}
                <ul class="dropdown-menu">
                    {% import _self as subLinks %}
                    {{subLinks.menu_links(item.__children)}}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}