{% extends "AppBackOfficeBundle:_Partials:layout.html.twig" %}
{% block body %}
    <section class="content-header">
      <h1>
          Blog
      </h1>
      <ol class="breadcrumb">
        <li><a href="#" title="Dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Blog</li>
      </ol>
    </section>
    <section class="content">
        {% include 'AppBackOfficeBundle:_Partials:flashMessage.html.twig' %}
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="" novalidate enctype="multipart/form-data">
          <!-- general form elements -->
                <div class="box box-primary">
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Nazwa</label>
                            {{form_widget(form.name,{'attr':{'data-validator':'required'}})}}
                        </div>
                        <div class="form-group col-md-12">
                            <label>Kategoria</label>
                            {{form_widget(form.category,{'attr':{'data-validator':'required'}})}}
                            {{form_errors(form.category)}}
                        </div>
                        <div class="form-group col-md-12">
                            <label>Typ Transakcji</label>
                            {{form_widget(form.transactionType,{'attr':{'data-validator':'required'}})}}
                            {{form_errors(form.transactionType)}}
                        </div>
                        <div class="form-group col-md-12">
                            <label>Miasto</label>
                            {{form_widget(form.city)}}
                            {{form_errors(form.city)}}
                        </div>
                    </div>
                        {{form_rest(form)}}
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
              </div>
          </div>
          <!-- /.box -->
        </div>
            </div>
        </div>
    </section>
{% endblock body %}
{% block stylesheets %}
{% endblock %}
{% block javascripts %}
    <script src="{{asset('front-layout/lib/validate/validate.min.js')}}"></script>
        <script src="{{asset('admin-layout/plugins/tinymce/tinymce.min.js')}}"></script>
 {{ elfinder_tinymce_init4() }}
    <script type="text/javascript">
    tinymce.init({
        language : 'pl',
        file_browser_callback : elFinderBrowser,
        image_advtab: true,
        mode : "textareas",
        entity_encoding : "raw",
        selector: ".texteditor",
        plugins: [
            "advlist autolink lists link image lists charmap print preview hr anchor",
            "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
            "table contextmenu directionality emoticons template textcolor paste colorpicker textpattern"
        ],
        toolbar1: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect ",
        toolbar2: "insertfile undo redo | cut copy paste searchreplace| | bullist numlist outdent indent| bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview",
        toolbar3: "forecolor backcolor| table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking",
        fontsize_formats: "10pt 12pt 14pt 18pt 24pt 36pt",
    });
        $('form').validate();
    </script>
{% endblock %}
